<form method="get" action="__URL__/" role="form" class="hover-shadow hover-search p10 md10">
	<table class="no-bordered">
		<tr>
			<notempty name="search_fields">
			<td class="p0">
				{:W('Widget/searchform',array($search_fields,I('get.'),$fcfg['search_col']))}
			</td>
			<td width="100" class="p0" valign="top"><button type="submit" class="btn btn-rad btn-trans btn-primary btn-block mt8"><i class="fa fa-search"></i> 搜索</button></td>
			</notempty>
		</tr>
	</table>
	
	

</form>
<div class="clearfix"></div>