<header class="header fixed-top">
	<div>
		<div class="l">
			<i class="icons i-back" onclick="closeWin()"></i>
		</div>
		<div class="title">
			关注的店铺
		</div>
		<div class="r">
		</div>
	</div>
</header>
<section>
	<div class="pagelist">
		<div class="load-body">数据加载中……</div>
	</div>
	<div class="p10 load-more" onclick="shopfav_loadmore()">
		<div class="btn btn-lg btn-block btn-danger btn-trans">加载更多……</div>
	</div>
</section>

<include file="Public:d_layer" />

<script id="tpl_shop_fav_list" type="text/html">
	<% for(i=0;i<data.length;i++){ %>
	<div class="line-box-m hover" id="<%= data[i].shop_id %>">
		<div class="action">
				<div class="action-btn action-btn-edit" style="height:78px;line-height:78px;" onclick="openWin({name:'shop',url:'/Shop/index/shop_id/<%= data[i].shop_id %>'})" style="">进店</div>
				<div class="action-btn action-btn-delete" style="height:78px;line-height:78px;" onclick="shop_fav_delete($(this))" data-shop_id="<%= data[i].shop_id %>">删除</div>
		</div>
		<div class="row" onclick="shop_fav_click($(this))">
			<div class="col-10">
				<img src="<%= data[i].shop.shop_logo %>" class="img-circle" alt="店铺logo">
			</div>
			<div class="col-90">
				<div class="pl10 pr10">
					<div class="ft16 b"><%= data[i].shop.shop_name%></div>
					<div class="text-gray lh2-18px"><%= data[i].shop.about%></div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<% } %>
</script>



<script>
	fixBar(1);
	
	var shopfav_data={apiurl:'/ShopFav/shop_list',is_openid:1,no_sign:'p,pagesize'};
	
	shopfav_pagelist(shopfav_data);
	
	function shopfav_pagelist(data,param){
		var d=$('.page.active section').data();
		var p=1;
		if(d.p!=undefined){
			p=d.p;
		}
		
		if(d.allpage!=undefined && d.p>d.allpage){
			$('.page.active .load-more').html('已无记录可加载！');
			return false;
		}
		
		data.p=p;		
		ajax_post({
			url:'/Api/api',
			data:data,
		},function(ret){
			if(ret.code==1){			
				var html = template('tpl_shop_fav_list', {data:ret.data.list});			
		
				if(p==1){
					$('.page.active .pagelist').html(html);
				}else{
					$('.page.active .pagelist').append(html);
				}
				p++;
				$('.page.active section').data({p:p,allpage:ret.data.allpage});
				
				if(ret.data.allpage>1){
					$('.page.active .load-more').addClass('active');
				}
			}else if(ret.code==3){
				$('.page.active .pagelist').html(no_data_text);
			}
		});	
	}
	
	//更多
	function shopfav_loadmore(){
		shopfav_pagelist(shopfav_data);
	}
	
	//删除店铺关注	
	function shop_fav_delete(obj){
		var d=obj.data();
		vmodal({
			title:'删除店铺关注',
			msg:'<div class="text-center p10">真的要删除关注吗？</div>',
		},function(){
			$('.page.active .vmodal .vmodal-success').unbind();
			$('.page.active .vmodal .vmodal-success').click(function(){
				ajax_post({
					url:'/Api/api',
					data:{apiurl:'/ShopFav/delete',is_openid:1,shop_id:d.shop_id},
				},function(ret){
					valert(ret);
					if(ret.code==1){
						$('.page.active #'+d.shop_id).remove();
					} 
				});
			});
		});
	}
	
	//点击触发删除按钮
	function shop_fav_click(obj){
		obj.closest('.pagelist').find('.action.active').removeClass('active');
		obj.closest('.line-box-m').find('.action').addClass('active');
	}
</script>