<div class="line-input row hover">
	<div class="col-4" attr = "1">个体户</div>
	<div class="clearfix"></div>
</div>	
<div class="line-input row hover">
	<div class="col-4" attr = "2">有限责任公司</div>
	<div class="clearfix"></div>
</div>
<div class="line-input row hover">
	<div class="col-4" attr = "3">股份有限公司</div>
	<div class="clearfix"></div>
</div>
<div class="line-input row hover">
	<div class="col-4" attr = "4">私营企业</div>
	<div class="clearfix"></div>
</div>
<div class="line-input row hover">
	<div class="col-4" attr = "5">港、澳、台商投资企业</div>
	<div class="clearfix"></div>
</div>