/*全局定义开始*/
body{font-size: 12px;font-family: '微软雅黑','Arial','Times New Roman','Microsoft YaHei','SimHei' ;margin: 0;padding: 0;}
*{margin: 0;padding: 0;}
a:hover,a{text-decoration: none}
img{margin: 0;padding: 0;border: 0; outline-width:0px;vertical-align:top; }

/*全局定义结束*/
.mall-box{position: relative;min-width: 990px;}
.mall_bg img{max-width: 100%;}
.container.cont990{width: 990px;padding: 0;margin: auto;}
.list-li{background-color: white;width: 240px;float: left;height: 383px;margin-bottom: 10px;margin-right: 10px;}
.list-li:nth-child(4n+0){margin-right: 0;}
.list-img{width: 240px;height: 278px;}
.list-img img{max-width: 100%;width: 240px;height: 278px;}
.list-text{padding: 10px;font-size: 14px;color: #5f5f5f;height: 60px;overflow:hidden;line-height:22px;}
.list-pic{margin-top: 7px;padding:0 3px;}
.list-pic i{font-style:normal;font-size: 12px;}
.list-pic span{font-size: 24px;}
.list-pic span.pull-right{padding: 1px 4px;font-size: 12px; margin-right: 3px;margin-top: 5px;border-radius: 12px;}
.fix_right{position: fixed;left: 50%;top: 300px;margin-left: 520px;z-index: 99;display: none;}

.clss-box .list-text{border-bottom: 1px dashed #F91173;}
.clss-box .list-pic{color: #e7005c;}
.clss-box .list-pic span.pull-right{border: 1px solid #E7005C;}

.wzyh-box .list-text{border-bottom: 1px dashed #fe0113;}
.wzyh-box .list-pic{color: #fe0113;}
.wzyh-box .list-pic span.pull-right{border: 1px solid #fe0113;}

.jjbb-box .list-text{border-bottom: 1px dashed #b87a03;}
.jjbb-box .list-pic{color: #b87a03;}
.jjbb-box .list-pic span.pull-right{border: 1px solid #b87a03;}

.jkmr-box .list-text{border-bottom: 1px dashed #0697fc;}
.jkmr-box .list-pic{color: #0697fc;}
.jkmr-box .list-pic span.pull-right{border: 1px solid #0697fc;}

.xpzk-box .list-text{border-bottom: 1px dashed #a61ef5;}
.xpzk-box .list-pic{color: #a61ef5;}
.xpzk-box .list-pic span.pull-right{background-color: #a61ef5;color: white;}

.hwzp-box .list-text{border-bottom: 1px dashed #be9302;}
.hwzp-box .list-pic{color: #be9302;}
.hwzp-box .list-pic span.pull-right{background-color: #be9302;color: white;}

.qtzk-box .list-text{border-bottom: 1px dashed #24b402;}
.qtzk-box .list-pic{color: #24b402;}
.qtzk-box .list-pic span.pull-right{background-color: #24b402;color: white;}
/*公共样式开始*/
.pt30{padding-top: 30px;}
.pb30{padding-bottom: 30px;}
.plr10{padding-left: 10px;padding-right: 10px;}
.mb10{margin-bottom: 10px;}
.fs14{font-size: 14px;}
.c-white{color: white;}
.line24{line-height: 24px;}
.pull-right{float: right}
.pull-left{float: left}
.text-center{text-align: center;}
.bg-f91{background: url(../images/bg-img.png) 0 0 repeat;background-color: #f91173;}
.bg-069{background: url(../images/bg-img.png) 0 0 repeat;background-color: #0697fc;}
.bg-2fe{background: url(../images/bg-img.png) 0 0 repeat #2fe1bd;}
/*公共样式结束*/