<div class="clearfix">
	<div class="pull-right text-gray" onclick="$(this).closest('tr').toggleClass('hide');"><i class="fa fa-times-circle-o fa-2x"></i></div>	
</div>

	<div class="box p20">
		<div class="content">
			<table class="bg_white table_dotted border-t">
				<tbody class="solid_t">
					<tr>
						<td class="fs14 pd30 text-center">
							<strong class="ft16">活动</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">参与活动笔数</p>
							<strong>{$rs.activity_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">参与活动并付款笔数</p>
							<strong>{$rs.activity_pay_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">活动成交总金额</p>
							<strong>{$rs.day_activity_money}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">参与活动成交平均单价</p>
							<strong>{$rs.day_average_activity}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">活动累计成交笔数</p>
							<strong>{$rs.activity_total_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">活动累计成交总金额</p>
							<strong>{$rs.activity_total_money}</strong>
						</td>
					</tr>
					<tr>
						<td class="fs14 pd30 text-center">
							<strong class="ft16">品牌推广</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">新增品牌推广数量</p>
							<strong>{$rs.brand_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">新增品牌推广付款总额</p>
							<strong>{$rs.day_brand_money}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">累计品牌推广总额</p>
							<strong>{$rs.brand_total_money}</strong>
						</td>
						<td class="fs14 pd30 text-center" colspan = "3"></td>
					</tr>
					<tr>
						<td class="fs14 pd30 text-center">
							<strong class="ft16">优惠券</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">被领取的优惠券数量</p>
							<strong>{$rs.coupon_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">被领取优惠券面值总额</p>
							<strong>{$rs.day_coupon_total}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">被使用优惠券数量</p>
							<strong>{$rs.use_coupon_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">被使用优惠券面值总额</p>
							<strong>{$rs.use_coupon_money}</strong>
						</td>
						<td class="fs14 pd30 text-center" colspan = "2"></td>
					</tr>
					<tr>
						<td class="fs14 pd30 text-center">
							<strong class="ft16">广告投放</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">新增广告投放笔数</p>
							<strong>{$rs.ad_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">新增广告投放总金额</p>
							<strong>{$rs.ad_money}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">新增广告投放平均单价</p>
							<strong>{$rs.ad_price_unit}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">累计广告投放笔数</p>
							<strong>{$rs.ad_total_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">累计广告投放总金额</p>
							<strong>{$rs.ad_total_money}</strong>
						</td>
						<td class="fs14 pd30 text-center" colspan = "1"></td>
					</tr>
					<tr>
						<td class="fs14 pd30 text-center">
							<strong class="ft16">活动</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">新增投放素材</p>
							<strong>{$rs.sucai_num}</strong>
						</td>
						<td class="fs14 pd30 text-center">
							<p class="mb20 fs14 text_77">累计素材总数</p>
							<strong>{$rs.sucai_total_num}</strong>
						</td>
						<td class="fs14 pd30 text-center" colspan = "4"></td>
					</tr>
				</tbody>
			</table>
			
		<div class="clearfix md20"></div>
		</div>		
	</div>
	

<div class="clearfix">
	<div class="pull-right text-gray" onclick="$(this).closest('tr').toggleClass('hide');"><i class="fa fa-times-circle-o fa-2x"></i></div>	
</div>