	<div class="navbar-fixed-top">
		<div class="pull-right">
			<div class="btn btn-primary btn-rad btn-trans m10" onclick="ref()"><i class="fa fa-refresh"></i> 刷新</div>
		</div>
		
		<ul class="nav-box2" data-page="__SELF__">
			<li><a href="__URL__">所有广告</a></li>
			<li><a href="__URL__/index/status/0">未付款</a></li>
			<li><a href="__URL__/index/status/1">已付款</a></li>
			<li><a href="__URL__/index/status/2">强制下架</a></li>			
			<li><a href="__URL__/index/status/3">投放中</a></li>
			<li><a href="__URL__/index/status/4">待投放</a></li>
			<li><a href="__URL__/index/status/5">已过期</a></li>
		
			<li><a href="__SELF__">[title]</a></li>
		</ul>
	</div>