	<div class="navbar-fixed-top">
		<div class="pull-right">
			<div class="btn btn-primary btn-rad btn-trans m10" onclick="ref()"><i class="fa fa-refresh"></i> 刷新</div>
		</div>
		
		<ul class="nav-box2" data-page="__SELF__">
			<li><a href="__URL__">商品管理</a></li>
			<li><a href="__URL__/index/status/1">出售中</a></li>
			<li><a href="__URL__/index/status/2">仓库中</a></li>
			<li><a href="__URL__/index/status/3">主图缺失</a></li>
			<li><a href="__URL__/index/status/4">违规商品</a></li>
			<li><a href="__URL__/index/status/5">其它异常</a></li>
			<li><a href="__URL__/index/status/0">已删除</a></li>
			<li><a href="__URL__/index/is_love/1">首页猜您喜欢</a></li>
			<li><a href="__URL__/index/is_test/1">测试商品</a></li>
			<li><a href="__SELF__">[title]</a></li>
		</ul>
	</div>