<div class="clearfix">
	<div class="pull-right text-gray" onclick="$(this).closest('tr').toggleClass('hide');"><i class="fa fa-times-circle-o fa-2x"></i></div>	
</div>

<div class="p20 box">
	<div class="row">
		
	</div>
	<div class="ft18 strong p10 border-d mt20 md20">商品审核</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div>当前状态：{$info.examine_status_name}</div>
			<notempty name="info.examine_reason">
			<div>上次审核驳回原因：{$info.examine_reason}</div>
			</notempty>
		</div>
	</div>
	
	<form data-url="__URL__/ajax_supplier_examine" data-id="#form_{$info.id}" id="form_{$info.id}" class="form-horizontal vform" onsubmit="return submit_form($(this))">
		<table class="no-bg no-bordered">
			<tr>
				<td width="30%" class="text-right strong">审核状态</td>
				<td width="70%" >
					<label class="mr20"><input type="radio" class="i-red-square" name="examine_status" value="3" > 通过</label>
					<label ><input type="radio" class="i-red-square" name="examine_status" value="4" > 驳回</label>
				</td>
			</tr>
			<tr>
				<td width="30%" class="text-right strong">驳回原因(驳回必填)：</td>
				<td width="70%" >
					<textarea name="examine_reason" placeholder="请输入备注" class="form-control"></textarea>
				</td>
				
			</tr>	
			<tr>
				<td width="30%" class="text-right strong"></td>
				<td width="70%">
					<button type="submit" class="btn btn-danger btn-150px">提交</button>
				</td>
				
			</tr>			
		</table>
		<input type="hidden" name="id" value="{$info.id}">
	</form>
</div>
<div class="clearfix">
	<div class="pull-right text-gray" onclick="$(this).closest('tr').toggleClass('hide');"><i class="fa fa-times-circle-o fa-2x"></i></div>	
</div>

<script>
image_zoom();
function submit_form(obj){
	var formid='#'+obj.attr('id');
	var data = getFormJson(formid);

	
	if(data.examine_status != 3 && data.examine_status != 4){
		valert({status:'warning',msg:'请选择审核状态'});
		return false;
	}
	
	if(data.examine_status == 4 && data.reason == ''){
		valert({status:'warning',msg:'驳回必须填写原因！'});
		return false;
	}
	ajax_post_form({
		formid:formid,
	},function(ret){
		valert(ret);
		if(ret.status=='success'){
			var tag='#item-{$info.id}';
			var url='__URL__/supplier_goods_examine/id/{$info.id}';
			loadurl({tag:tag,url:url});
		}		
	});
	
	return false;
}

</script>