<div class="row md10">
	<div class="col-xs-6">		
		<div class="input-group">
			<input type="text" id="{$param.name}[width][]" name="{$param.name}[width][]" placeholder="请输入宽度" value="{$param.value.width.0}" class="form-control">
			<span class="input-group-addon" style="border-right:0">x</span>
			<input type="text" id="{$param.name}[height][]" name="{$param.name}[height][]" placeholder="请输入高度" value="{$param.value.height.0}" class="form-control">
		</div>
	</div>
</div>

<div class="row md10">
	<div class="col-xs-6">		
		<div class="input-group">
			<input type="text" id="{$param.name}[width][]" name="{$param.name}[width][]" placeholder="请输入宽度" value="{$param.value.width.1}" class="form-control">
			<span class="input-group-addon" style="border-right:0">x</span>
			<input type="text" id="{$param.name}[height][]" name="{$param.name}[height][]" placeholder="请输入高度" value="{$param.value.height.1}" class="form-control">
		</div>
	</div>
</div>

<div class="row md10">
	<div class="col-xs-6">		
		<div class="input-group">
			<input type="text" id="{$param.name}[width][]" name="{$param.name}[width][]" placeholder="请输入宽度" value="{$param.value.width.2}" class="form-control">
			<span class="input-group-addon" style="border-right:0">x</span>
			<input type="text" id="{$param.name}[height][]" name="{$param.name}[height][]" placeholder="请输入高度" value="{$param.value.height.2}" class="form-control">
		</div>
	</div>
</div>

<div class="row md10">
	<div class="col-xs-6">		
		<div class="input-group">
			<input type="text" id="{$param.name}[width][]" name="{$param.name}[width][]" placeholder="请输入宽度" value="{$param.value.width.3}" class="form-control">
			<span class="input-group-addon" style="border-right:0">x</span>
			<input type="text" id="{$param.name}[height][]" name="{$param.name}[height][]" placeholder="请输入高度" value="{$param.value.height.3}" class="form-control">
		</div>
	</div>
</div>

<div class="row md10">
	<div class="col-xs-6">		
		<div class="input-group">
			<input type="text" id="{$param.name}[width][]" name="{$param.name}[width][]" placeholder="请输入宽度" value="{$param.value.width.4}" class="form-control">
			<span class="input-group-addon" style="border-right:0">x</span>
			<input type="text" id="{$param.name}[height][]" name="{$param.name}[height][]" placeholder="请输入高度" value="{$param.value.height.4}" class="form-control">
		</div>
	</div>
</div>

<div class="tips text-gray">最多支持5种尺寸的图片格式</div>