<extend name="Home@Public:base" />
<block name="body">
<div class="centent_body">
<include file="Public:nav" />
	<div class="container mb30">
		<include file="Public:side" />
		<div class="w980 fl">				
				<div class="bor_der">
					<div class="bg_f1 clearfix fs14 text_44 tle_R">
						<a class="fl plr15 line40 ml-1 active" href="javascript:;">待上架的商品</a>
					</div>
					<div class="solid_t mt-1 plr15 ptb10">
						<blockquote class="pd0 pl10 mt10 mb20 fs14 strong">商品搜索</blockquote>
						<form class="row form-horizontal group-border-dashed" method="get">
							<input type="hidden" name="p" value="1"/>
							<div class="clearfix">
								<div class="col-xs-4">
									<div class="form-group">
										<label class="col-xs-3 pd0 control-label">商品名称：</label>
										<div class="col-xs-9 pr0"><input type="text" class="form-control" name="q" placeholder="请输入商品名称" value="{$_GET['q']}"></div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<label class="col-xs-3 pd0 control-label">商品编号：</label>
										<div class="col-xs-9 pr0"><input type="text" class="form-control" name="code" placeholder="请输入商品编号" value="{$_GET['code']}"></div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<label class="col-xs-3 pd0 control-label">商铺中分类：</label>
										<div class="col-xs-9 pr0">
											<select class="form-control" name="shop_category_id">
							                    <option value="">请选择商铺中分类</option>
							                    <empty name="shop_cate.code">
								                    <volist name="shop_cate" id="vo">
								                    	<option value="{$vo.id}">{$vo.category_name}</option>
								                    	<notempty name="vo.dlist">
								                    		<volist name="vo.dlist" id="dlist">
								                    			<option value="{$dlist.id}">&nbsp;&nbsp;&nbsp;&nbsp;|--{$dlist.category_name}</option>
								                    		</volist>
								                    	</notempty>
								                    </volist>
							                    </empty>
							                </select>
										</div>
									</div>
								</div>
								<!-- <div class="col-xs-4">
									<div class="form-group">
										<label class="col-xs-3 pd0 control-label">商品类目：</label>
										<div class="col-xs-9 pr0">
											<select class="form-control" name="category_id">
							                    <option value="">请选择商品类目</option>
							                    <option>2</option>
							                </select>
										</div>
									</div>
								</div> -->
								<div class="col-xs-4">
									<div class="form-group">
										<label class="col-xs-3 pd0 control-label">价格：</label>
										<div class="col-xs-4 pr0"><input type="text" class="form-control" name="s_price" placeholder="商品最低价" value="{$_GET['s_price']}"></div>
										<div class="col-xs-1 pd0 mt8 text-right">~</div>
										<div class="col-xs-4 pr0"><input type="text" class="form-control" name="e_price" placeholder="商品最高价" value="{$_GET['e_price']}"></div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<label class="col-xs-3 pd0 control-label">总销量：</label>
										<div class="col-xs-4 pr0"><input type="text" class="form-control" name="s_sale" placeholder="商品最低销量" value="{$_GET['s_sale']}"></div>
										<div class="col-xs-1 pd0 mt8 text-right">~</div>
										<div class="col-xs-4 pr0"><input type="text" class="form-control" name="e_sale" placeholder="商品最高销量" value="{$_GET['e_sale']}"></div>
									</div>
								</div>
								
								<div class="col-xs-4">
									<div class="form-group">
										<label class="col-xs-3 pd0 control-label">推荐：</label>
										<div class="col-xs-9 mt7">
											<label class="square fl mr5">
												<input type="checkbox" name="is_best" value="1" <if condition="$_GET['is_best'] eq 1">checked</if>>
												<span></span>
											</label>
											<strong>推荐</strong>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label class="col-xs-3 pd0 control-label"></label>
									<div class="col-xs-9 clearfix">
										<button class="btn btn-primary" type="submit" style="margin-right:20px">搜索</button>
										<a href="{:U('/goods/noshelves')}" class="btn btn-default">清空搜索条件</a>
									</div>
								</div>
							</div>
						</form>
					</div>
					<notempty name="data.code">
						{:W('Common/Builder/nors', array('param' => array('text' => $data['msg'])))}
					<else />
						<div class="plr15 ptb10">
							<blockquote class="pd0 pl10 mt10 mb20 fs14 strong">商品列表</blockquote>
							<div class=" mb20">
								<div class="clearfix bg_f1 guide_tle bor_der">
									<div class="pt10 fl">
										<label class="square fl ml15 mr10">
											<input id="checkedAll" type="checkbox">
											<span></span>
										</label>
										<a class="mr20" href="javascript:;">全选</a>		
										<a data-type="batch" data-header="{:enCryptRestUri('/Goods/delete')}" data-id="{$vo.id}" data-title="确认批量删除" data-msg="您真的要删除选中的商品吗？" class="mr20 opreating" href="javascript:;">删除</a>		
										<a data-type="batch" data-header="{:enCryptRestUri('/Goods/online')}" data-id="{$vo.id}" data-title="确认批量上架" data-msg="您真的要上架选中的商品吗？" class="mr20 opreating" href="javascript:;">上架</a>		
										
									</div>		
									<div class="fr mr15 mt6"> 
										{$data.page.total}
										<div class="btn-group spacer" style="margin-top:0!important">
											<button type="button" class="btn btn-default btn-xs plr10"><i class="fa fa-angle-left plr5"></i></button>
											<button type="button" class="btn btn-default btn-xs plr10"><i class="fa fa-angle-right plr5"></i></button>
										</div>
									</div>
								</div>
								<table class="table-bordered bor_no hover_tr mb20">
									<tbody class="td_borno">
										<tr class="solid_b solid_l solid_r">
											<td class="pl40" width="30%">商品</td>
											<td width="10%">商品编号</td>
											<td width="13%">单价（元）</td>
											<td width="9%">积分比例</td>
											<td width="6%">库存</td>
											<td width="8%">总销量</td>
											<td width="14%">发布时间</td>
											<td width="10%">操作</td>
										</tr>
										<volist name="data.list" id="vo">
											<tr class="solid_b">
												<td class="clearfix">
													<label class="square fl ml7 mr10"><input name="ids[]" value="{$vo.id}" class="ids" type="checkbox"><span></span></label>
													<a href="javascript:;" data-url="{:DM('item')}{:U('/index/preview', ['id' => $vo['attr_list'][0]['id']])}"><img class="square100 fl mr10" src="{$vo.images}"></a>
													<textarea data-title="{$vo.goods_name}" data-id="{$vo.id}" class="fl bor_no mr5" cols="13" rows="5">{$vo.goods_name}</textarea>
													<i class="fa fa-pencil fa-fw mt10 text_77"></i>
												</td>
												<td>{$vo.code}</td>
												<td>
													<div class="mt-15">
														<del class="text_77">{$vo.maket_price}</del> </br>
														<input data-title="修改属性" data-url="{:U('/goods/sku', ['id' => $vo['id']])}" class="strong text_44 input_80 plr5 bor_no changeSku" type="text" value="{$vo.price}">
														<i class="fa fa-pencil fa-fw text_77"></i>
													</div>											
												</td>
												<td>
													<div class="mt-15">
														<del class="text_77"></del> </br>
														{$vo['score_ratio'] * 100}%
														<!-- <input data-title="修改属性" data-url="{:U('/goods/sku', ['id' => $vo['id']])}" class="strong text_44 input_80 plr5 bor_no changeSku" type="text" value="{$vo['score_ratio'] * 100 * $vo['price']}">
														<i class="fa fa-pencil fa-fw text_77"></i> -->
													</div>
												</td>
												<td class="text_44 strong">{$vo.num}</td>
												<td class="text_44 strong">{$vo.sale_num}</td>
												<td class="text_77">{$vo.atime}</td>
												<td class="text_44">
													<a class="text_blue" href="{:U('/goods/edit', ['id' => $vo['id']])}"><p class="mb5">商品编辑</p></a>
													<a data-header="{:enCryptRestUri('/Goods/online')}" data-id="{$vo.id}" data-title="确认上架" data-msg="您真的要上架此商品吗？" class="text_blue opreating" href="javascript:;"><p class="mb5">上架</p></a>
													<a data-header="{:enCryptRestUri('/Goods/delete')}" data-id="{$vo.id}" data-title="确认删除" data-msg="您真的要删除此项记录吗？" class="text_blue opreating" href="javascript:;"><p class="mb5">删除</p></a>
												</td>
											</tr>
										</volist>
									</tbody>
								</table>
								<div class="clearfix">
									<div class="col-xs-12 text-center">
										{:paresePageAction($data['page']['page'], '/SellerGoods/goods_offline')}
									</div>
								</div>
							</div>
						</div>
					</notempty>
				</div>
			</div><!-- 右边结束 -->

		</div>
	</div>
</block>
<block name="css"></block>
<block name="script">
<script>
$(document).ready(function() {
	//编辑商品名称
	$(".clearfix textarea").bind({
		focusout:function() {
			var obj = $(this);
			var title	=	obj.val();
			var d	=	obj.data();
			if(title == ''){
				talert({status:0,msg:'请填写商品名称'});
				return false;
			}
			if(title == d.title) {
				return false;
			}
			ajax_post({
				url:'{:U("/run/authRun")}',
				data:{goods_id:d.id,goods_name:title},
				headers : {Action : '{:enCryptRestUri("/Goods/changeGoodsName")}'},
			},function(res) {
				talert({status:res.code,msg:res.msg});
				obj.data('title',title);
			});
		}
	});
	//编辑商品属性
	$(".changeSku").focus(function() {
		var d	=	$(this).data();
		vmodal({
			title:d.title,
			url:d.url,
			width:"80%"
		});
	})
	
	//操作
	$(".opreating").click(function() {
		var d 	=	$(this).data();
		if(d.type == 'batch') {
			d.id	=	'';
			$(".ids").each(function() {
				if($(this).is(":checked") == true) {
					d.id	+=	$(this).val() + ',';
				}
			})
		}
		if(d.id == '') {
			talert({status:0,msg:'请至少选择一项'});
			return false;
		}
		if(d.type == 'open') {
			vmodal({
				title:d.title,
				url:d.url,
			});
		} else {
			vmodal({
				  title:d.title,
				  msg:d.msg,
				  class:'text-center',
				  confirm:1,
				  footer:false,
				  width:'600px',
			  },function(ret) {
				  $(".modal-ok").click(function() {
					  ajax_post({
						  url:'{:U("/run/authRun")}',
						  data:{id:d.id},
						  headers : {Action : d.header},
					  },function(ret) {
						  talert({status:ret.code,msg:ret.msg});
						  if(ret.code == 1) {
						  	ref(); 
						  }
					  })
				  })
			  })
		}
	});
	
	//全选反选
	$("#checkedAll").change(function() {
		if($(this).is(":checked") == true) {
			$(".ids").prop("checked", true);
		} else {
			$(".ids").prop("checked", false);
		}
	});
})
</script>

</block>