<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="utf-8">
	<meta name="description" content="后台管理系统">
	<meta name="author" content="懒猫">
	<title>后台管理系统</title>
	
	<css href="__FLATDREAM__/js/bootstrap/dist/css/bootstrap.css" />
	<css href="__FLATDREAM__/fonts/font-awesome-4/css/font-awesome.min.css" />
	<css href="__FLATDREAM__/js/jquery.gritter/css/jquery.gritter.css" />
	<css href="__FLATDREAM__/js/jquery.nanoscroller/nanoscroller.css" />
	<css href="__FLATDREAM__/css/style.css" />
	<css href="../Public/css/css.css" />
	
   
</head>
<body>