<!DOCTYPE html>
<html lang="zh_cn"> 
<head>
	<meta charset="utf-8">
	<meta name="description" content="乐兑后台管理系统">
	<meta name="author" content="懒猫">
	<title>乐兑后台管理系统</title>
	
	<css href="__FLATDREAM__/js/bootstrap/dist/css/bootstrap.css" />
	<css href="__FLATDREAM__/js/jasny.bootstrap/extend/css/jasny-bootstrap.min.css" />
	<css href="__FLATDREAM__/fonts/font-awesome-4/css/font-awesome.min.css" />
	<css href="__FLATDREAM__/js/jquery.gritter/css/jquery.gritter.css" />
	<css href="__FLATDREAM__/js/jquery.nanoscroller/nanoscroller.css" />
	<css href="__FLATDREAM__/css/skin-red.css" />	
	<css href="__FLATDREAM__/js/jquery.icheck/skins/all.css" />
	<css href="__FLATDREAM__/js/jquery.magnific-popup/dist/magnific-popup.css" />
	<css href="__FLATDREAM__/js/bootstrap.switch/bootstrap-switch.min.css" />

	<css href="__PUBLIC__/Jquery/DateTimePicker/jquery.datetimepicker.css" />
	<css href="__JS__/jquery-minicolors/jquery.minicolors.css" />

	<css href="../Public/css/css.css" />


	<script type="text/javascript" src="__JS__/qiniu_ueditor/ueditor_mintoolbar.config.js"></script>
	<script type="text/javascript" src="__JS__/qiniu_ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" src="__JS__/qiniu_ueditor/lang/zh-cn/zh-cn.js"></script>

</head>
<body class="{$Think.const.CONTROLLER_NAME}_{$Think.const.ACTION_NAME}{$tpl}">
<div id="ajax_tips"></div>