<include file="Public:header" />
		<div class="page-group">
			<div id="page-luckdraw" class="page bg-white">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="icon icon-left pull-left back" href="/"></a>
					<h1 class="title">商城抽奖</h1>
					<a class="icon iconfont icon-category pull-right ml5 ac-menu" onclick="top_menu()"></a>
				</header>

				<!-- 浮动导航 -->
				<include file="Public:fixed-menu" />
				
				<!-- 这里是页面内容区 -->		
				<div class="content">
					<div class="content-padded" style="text-align:center">
						<img src="../Public/download/images/luckdraw.jpg" alt="">
					</div>	
				</div>
			</div>	
		</div>	

<include file="Public:script" />
<include file="Public:footer" />