<header class="header fixed-top">
	<div>
		<div class="l">
			<i class="icons i-back" onclick="closeWin()"></i>
		</div>
		<div class="title">
			会员权益
		</div>
		<div class="r">
		</div>
	</div>
</header>
<section>
	<div class="content p10">
		<div class="load-body">数据加载中……</div>
	</div>	
</section>

<script>
	fixBar(1);
	
	ajax_post({
		url:'/Api/api',
		data:{apiurl:'/UserUpgrade/level_about',level:{$_GET.level}},
	},function(ret){
		if(ret.code==1){			
			$('.page.active .content').html(ret.data.about);
		}else if(ret.code==3){
			$('.page.active .content').html(no_data_text);
		}
	});
	

	
</script>