	<div style="position: fixed;bottom: 10px;right: 10px;width: 150px;height: 400px;background: url(/Public/images/fangyuan.png)" class="hide">
		<a onclick="return $(this).closest('div').addClass('hide');" style="position: absolute;right: 0; top: 0; display: inline-block;width: 20px;height: 20px;" href="javascript:;"></a>
		<a onclick="return $(this).closest('div').addClass('hide');" target="_blank" style="position: absolute;right: 7px; top: 276px; display: inline-block;width: 135px;height: 33px;" href="https://imweb.dtfangyuan.com:9443/download/index.html"></a>
	</div>
	<include file="Home@Public:footer" />
	<include file="Home@Public:js" />
	<block name="script"></block>
	<include file="Common@Public:modal" />
	</body>
</html>