<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>乐兑</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../Public/yuanxiao/flatdream/js/bootstrap/dist/css/bootstrap.css">
    <link href="../Public/yuanxiao/css/common.css" rel="stylesheet">
    <link href="../Public/yuanxiao/css/css.css" rel="stylesheet">

    <style>
        .festival_bg{
            background-color:#BA192C;
            background-image:url(../Public/yuanxiao/images/yuanxiao/bg_img.png);
        }
        .festival_bg img{max-width:100%;}
        .container.festival{
            width:1125px;
            padding-bottom:50px;
        }
        .lover_bg{
            background: url(../Public/yuanxiao/images/yuanxiao/bg_red.png);
            height: 2557px;
            position: relative;
            z-index: 9;
            width: 1920px;
            margin-left: -365px;
        }
        .center_size{
            width:1125px;
            margin:0 auto;
        }
        .festival_text{
            line-height: 50px;
            font-size: 38px;
            color: #f9d7b8;
            margin: 0;
            padding-bottom: 20px;
        }
        .fix_right{
            position: fixed;
            left:50%;
            top:300px;
            margin-left:570px;
            z-index: 99
        }
    </style>
</head>

<body>
<include file="Home@Public:header" />
<include file="Home@Public:top" />
    <div class="festival_bg">
        <div class="text-center">
            <img src="../Public/yuanxiao/images/yuanxiao/title_img.jpg"  name="top" id="top">
        </div>  

        <div class="container festival">
            <img src="../Public/yuanxiao/images/yuanxiao/fixed_right.png" usemap="#map4" class="fix_right">
            <map name="map4">
                <area shape="rect" coords="10,114,118,134" href="#yxzc">
                <area shape="rect" coords="6,154,114,175" href="#qrjzc">
                <area shape="rect" coords="5,191,116,209" href="#zysx">
                <area shape="rect" coords="32,216,85,258" href="#top">
            </map>

            <div class="mg30 text-center">
                <img src="../Public/yuanxiao/images/yuanxiao/tle_img_01.png" name="yxzc" id="yxzc">
            </div>

            <a href="{$url}goods/2758.html" target="_blank">
                <img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_01.png">
            </a>
            <a href="{$url}goods/2240.html" target="_blank">
                <img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_02.png">
            </a>
            <a href="{$url}goods/13498.html" target="_blank">
                <img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_03.png">
            </a>
            <a href="{$url}goods/247688.html" target="_blank">
                <img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_04.png">
            </a>
            <a href="{$url}goods/41231.html" target="_blank">
                <img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_05.png">
            </a>
            <a href="{$url}goods/4594.html" target="_blank">
                <img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_06.png">
            </a>
        </div>
        
        <div style="overflow-x:hidden;">
            <div class="container">
                <div class="lover_bg">
                    <!-- 内容区 -->
                    <div class="center_size">
                        <div class="text-center" style="padding:130px 0 50px 0">
                            <img src="../Public/yuanxiao/images/yuanxiao/tle_img_02.png" name="qrjzc" id="qrjzc">
                        </div>
                        
                        <div class="clearfix">
                            <a href="{$url}goods/249819.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_07.png"></a>
                            <a href="{$url}goods/181442.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_08.png"></a>
                            <a href="{$url}goods/7278.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_09.png"></a>
                            <a href="{$url}goods/3254.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_10.png"></a>
                            <a href="{$url}goods/54937.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_11.png"></a>
                            <a href="{$url}goods/3338.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_12.png"></a>
                            <a href="{$url}goods/105522.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_13.png"></a>
                            <a href="{$url}goods/20348.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_14.png"></a>
                            <a href="{$url}goods/13538.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_15.png"></a>
                            <a href="{$url}goods/219728.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_16.png"></a>
                            <a href="{$url}goods/12795.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_17.png"></a>
                            <a href="{$url}goods/13648.html" target="_blank"><img class="pull-left mg2" src="../Public/yuanxiao/images/yuanxiao/festival_18.png"></a>
                        </div>
                    </div>

                </div>    
            </div>    
        </div>
        
        
        <div class="center_size">
            <div class="text-center" style="padding:50px 0 30px 0">
                <img src="../Public/yuanxiao/images/yuanxiao/tle_img_03.png" name="zysx" id="zysx">
            </div>

            <p class="festival_text">活动中所有的产品均包邮，但偏远地区的除外（偏远地区包括：新疆、西藏、内蒙古、黑龙江等地区）</p>

            <div class="text-center pd40">
                <img style="cursor:pointer;" src="../Public/yuanxiao/images/yuanxiao/back_top.png" onclick="$('body,html').animate({scrollTop:0},500)">
            </div>
        </div>
    </div>
    
    

    

</body>

<script src="../Public/yuanxiao/flatdream/js/jquery.js"></script>
<script>
$(function(){
    $(".festival area").click(function(){
        $("html,body").animate({ scrollTop:$($(this).attr("href")).offset().top + "px"},500);
    });
});
</script>

</html>
