<div class="top-box bg-white line-red-2px">
	<div class="container p10">
		<div class="top-box-left">
			<div class="logo">
				<div><a href="{:DM('www')}"><img src="../Public/images/dt_logo.png" alt="乐兑商城logo"></a></div>
				<div class="logo-channel"><a href="/"><span class="ft18 text-blue">帮助中心</span></a></div>
			</div>
		</div>
		<div class="top-box-right">
			
		</div>
		<div class="clearfix"></div>
	</div>	
</div>
<div class="bg-gray2" data-type="help-sort" data-sid="">
	<div class="container help-search-box" style="padding:30px 0px">
		<form method="get" action="/Index/index">
			<div class="help-input-box">
				<div class="l">
					<input id="q" name="q" placeholder="请输入搜索关键词">
				</div>
				<div class="r">
					<button type="submit"><i class="fa fa-search"></i>搜索</button>
				</div>				
			</div>
		</form>
	</div>
</div>