<include file="Public:header" />
<include file="nav" />
<div class="m20">
        <volist name="list" id="vo">
            <div class="block-flat md20" id="{$vo.id}">
                <div class="header">
                    <h3>
                        {$vo['active']?'<div class="btn btn-xs btn-rad btn-trans btn-success">正常</div>':'<div class="btn btn-xs btn-default">锁定</div>'} {$vo.name}
                    </h3>
                </div>
                <div class="block content ">

                    <ul class="nav nav-tabs border-d">
                        <volist name="vo.dlist" id="ds">
                            <li class="{$key==0?'active':''}">
                                <a href="#tab{$ds.id}" data-toggle="tab">{$ds.name}</a>
                            </li>
                        </volist>
                    </ul>
                    <div class="tab-content tab-content-noborder" >

                        <volist name="vo.dlist" id="ds">

                            <div class="tab-pane {$key==0?'active':''} " id="tab{$ds.id}">
								<form class="form-horizontal" id="formadd{$ds.id}" name="formadd{$ds.id}" data-url="__URL__/edit_item_value">
								{:W('Widget/create_form',array(array(									
									'field'		=>config_item($ds['id']),
								)))}
								
								<div class="col-xs-offset-3" style="padding-left:3px;">
									<button type="submit" class="btn btn-lg btn-rad btn-trans btn-primary"><i class="fa fa-check"></i> 提交</button>
								</div>									
								<div class="clearfix"></div>
								</form>

                            </div>
                        </volist>

                    </div>

                </div>
            </div>
        </volist>
</div>


<include file="Public:copyright" />
<include file="Public:js" />
<js href="/Public/Apps/Admin/Config/index.js" />
<include file="Public:footer" />
<script>
    $('body #sort-us').sortable({
        stop: function(event, ui) {
            var data = $('body #sort-us >div').map(function() { return $(this).attr("id"); }).get();
            ajax_post({
                data:{ids:data},
                url:'__URL__/setsort',
            });
        }
    });
</script>