<include file="Public:header" />
		<div class="page-group">
			<div id="page-error" class="page">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="icon icon-left pull-left back" data-no-cache="true"></a>
					<h1 class="title">错误提示</h1>
					<a class="icon iconfont icon-category pull-right ml5 ac-menu" onclick="top_menu()"></a>
				</header>

				<!-- 浮动导航 -->
				<include file="Public:fixed-menu" />
			
		
				<!-- 这里是页面内容区 -->		
				<div class="content">

					<div class="nors text-center">
						<div><i class="iconfont icon-weibiaoti1 ft3"></i></div>
						 {$msg}
					</div>	
				
				</div><!--/content-->
				
			</div>
		</div>	
		

<include file="Public:script" />
<include file="Public:footer" />