<include file="Home@Public:header" />
<header>
	<div class="container mt30">
		<div class="row mg0">
			<div class="col-xs-2 pd0">
				<a href="{:DM('www')}"><img
					src="__NEW_DESIGN__images/dt_logo.png"></a>
			</div>
			<div class="col-xs-2 pr0">
				<div class="pt5 pl15 mt10 fs20 strong solid_l">找回密码</div>
			</div>
		</div>
	</div>
</header>
<div class="centent_body">
	<div style="border-bottom: 2px solid #c81623">
		<div class="container text-right pb5">
			<a href="{:U('/login')}">已有账户</a>？ <a href="{:U('/login')}">立即登录</a>
		</div>
	</div>
	<div class="login_img">
		<div class="container pt40 pb40">
			<div class="col-xs-6" style="left:50%;margin-left:-30%">
				<div class="login-wbox-opactiy">
					<div class="pd10 bg_white" id="code-icon-box">
						<div class="pd10">
							<form id='formadd' class="form-horizontal"
								data-url="{:U('/run')}">
								<div class="text-center fs18 mb30 mt10 re text-center">
									<strong>找回密码</strong>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label pr0">用户名：</label>
									<div class="col-sm-9">
										<input name="username" type="text" class="form-control" placeholder="6-20位字符，汉字、字母、数字下划线组合">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label pr0">图形验证：</label>
									<div class="col-sm-9">
										<div class="row mgt0">
											<div class="col-xs-7 pr10">
												<div class="">
													<input type="text" id="vcode" class="form-control" name="vcode" placeholder="图形验证码" value="" maxlength="5">
												</div>
											</div>
											<div class="col-xs-5 pl0">
												<a href="javascript:void(0)" data-url="{:U('/verify/index', ['h' => 40])}" class="verify" title="点击图片更换验证码">
													<img src="{:U('/verify/index', ['h' => 40])}" alt="验证码" class="verifyimg" style="height:35px;">
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label pr0">手机号：</label>
									<div class="col-sm-9">
										<input name="mobile" type="text" class="form-control" placeholder="手机安全验证，通过手机号登录和找回密码">
									</div>
								</div>
								<div class="form-group">
										<label class="col-sm-3 control-label pr0">验证码：</label>
										<div class="col-sm-9">
											<div class="input-group mb0">
												<input name="smscode" type="text"placeholder="短信验证码"  class="form-control">
												<span class="input-group-btn">
													<button onclick="sendMsg($(this))"; class="btn btn-default" type="button">发送验证码</button>
												</span>
											</div>
										</div>
									</div>
								<div class="form-group">
									<label class="col-sm-3 control-label pr0"></label>
									<div class="col-sm-9">
										<button class="btn btn-danger btn-block btn-lg btn-person">提交</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!--正常登录-->
					<div class="pd10 bg_white" style="display: none" id="com-icon-box">
						<div class="pd10">
							<form class="form-horizontal">
								<div class="text-center fs18 mb50 mt10 re">
									<strong>手机扫码，安全登录</strong>
								</div>
								<div class="code-icon">
									<a href="javascript:void(0)" id="com-icon-input"><img
										src="__NEW_DESIGN__images/com-img-icon.png" alt=""></a>
								</div>
								<div class="mt20 mb50 text-center ">
									<div class=" text-center">
										<img src="__NEW_DESIGN__images/code-img2.jpg" alt=""
											width="200" height="200" class="solid-all">
									</div>
								</div>
								<div class="ptb10 text-center">请使用乐兑客户端扫描二维码登录</div>
							</form>
						</div>
					</div>
					<!--二维码登录-->
				</div>
			</div>
		</div>
	</div>
</div>
<include file="Home@Public:footer" />
<include file="Home@Public:js" />
<script>
$(document).ready(function() {
	$('.verify').click(function(){
		var d=$(this).data();
        $('.verify img').attr('src', d.url+'?' + Math.random());
    });
	checkform({
		formid:"#formadd",
		rules:{
			mobile:{
				required:true,
				isMobile:true,
			},
			smscode:{
				required:true,
				rangelength:[6,6],
				number:true,
			},
			password:{
				required:true,
				rangelength:[6,6],
			},
			repassword:{
				required:true,
				equalTo:'#formadd #password',
			},
			vcode:{
				required:true,
				rangelength:[4,5],
			},
			username:{
				required:true,
			},
		},
		messages:{
			mobile:{
				required:'手机号码不能为空',
				isMobile:'手机号码格式不正确',
			},
			smscode:{
				required:'短信验证码不能为空',
				rangelength:'短信验证码为6位数字类型',
				number:'短信验证码为6位数字类型',
			},
			password:{
				required:'新密码不能为空',
				rangelength:'新密码由8-20位数字字母组合',
			},
			repassword:{
				required:'确认新密码不能为空',
				equalTo:'两次密码不一致',
			},
			vcode:{
				required:'图形验证码不能为空',
				rangelength:'图形验证码由4-5位数字字母组成',
			},
			username:{
				required:'大唐账号不能为空',
			},
		},
	},function(res) {
		talert({status:res.code,msg:res.msg});
		if(res.code == 1) {
			var url	=	'{:U("/forget/step2")}?mobile=' + res.data.mobile;
			setTimeout(function() {
				gourl({url:url});
			}, 1000);
		}
	});
});

var miaoshu	=	180;
var setOutTime;
function sendMsg(obj) {
	var mobile 	= $("input[name='mobile']").val();
	var vcode	= $("input[name='vcode']").val();
	if(vcode == '' || vcode == undefined) {
		talert({status:0,msg:'图形验证码不能为空'});
		return;
	}
	if(mobile == '' || mobile == undefined) {
		talert({status:0,msg:'手机号不能为空'});
		return;
	}
	var ac	=	"{:enCryptRestUri('/Send/sms')}";
	$.ajax({
		type:'post',
		url:'/run',
		data:{mobile:mobile,vcode:vcode},
		headers : {'Accept-Action' : ac},
		dataType:'json',
		success:function(ret) {
			//talert({status:ret.code,msg:ret.msg});
			if(ret.code == 1) {
				setOutTime = setInterval(function() {
					setTime(obj);
				}, 1000);
			}else{
				talert({code:ret.code,msg:ret.msg});
				$(".verifyimg").click();
			}
		}
	})
}
function setTime(obj) {
	if(miaoshu > 0) {
		$(obj).addClass('disabled').html("请在"+miaoshu+"秒后重新获取");
		miaoshu--;
	} else {
		window.clearInterval(setOutTime);
		$(obj).removeClass('disabled').html("获取验证码");
		miaoshu = 180;
	}
}
</script>
</body>
</html>