<include file="Public:header" />
<include file="nav" />

<notempty name="pagelist.list">
<div class="p20">
	<form id="formlist" name="formlist">
	
	<ul class="upload-images-list">
		<volist name="pagelist.list" id="vo">
		<li class="ttip" title="双击即可选择图片" data-key="{$vo.fkey}">
			<div class="upload-images-selected"><div class="selected-icon"><i class="fa fa-check"></i></div></div>
			<div class="upload-images-item" data-images="{$vo.url}"><img src="{:myurl($vo['url'],180,150)}"></div>
			<div class="upload-images-title">
				<div class="pull-right"><a class="image-zoom" href="{$vo.url}" title="{$vo.name}"><i class="fa fa-eye"></i> {$vo.fsize|fsize} KB</a></div>
				<label><input type="checkbox" class="i-red-square" id="id[]" name="id[]" value="{$vo.fkey}"></label> 				
			</div>
		</li>
		</volist>
	</ul>

	</form>

	
	<div class="clearfix md20"></div>
	
	<div class="row">
		<div class="col-xs-8 text-center">
				{$pagelist.page.page}
		</div>
		<div class="col-xs-4 text-center">
			共 {$pagelist.allnum} 条记录，共 {$pagelist.allpage} 页
		</div>
	</div>
</div>
<else />
	<div class="nors text-center ft16">
		还没有上传图片！
	</div>
</notempty>	
	
	<div class="md90 clearfix"></div>

<div class="navbar-fixed-bottom">
	<div class="p20 bg-white-50 border-t">
		<button type="button" class="btn btn-info btn-rad btn-trans select-all"><i class="fa fa-location-arrow"></i> 全选 / 反选</button>
		<button type="button" class="btn btn-primary btn-rad btn-trans delete-select"><i class="fa fa-times"></i> 删除图片</button>
		<button type="button" class="btn btn-primary btn-rad select-one"><i class="fa fa-picture-o"></i> 选择一张图片，确定</button>
		
		<span class="select-images ml20"></span>
		
		<span class="pull-right">
			<select id="gopage" name="gopage" class="form-control" style="width:100px">
				{$pagelist.page.gopage}
			</select>			
		</span>
	</div>
</div>


<include file="Public:copyright" />
<include file="Public:js" />

<script>
$(document).ready(function(){
	$('#gopage').change(function(){
		var url=$('#gopage').val();
		location.href=url;
	});
	$('.upload-images-list li').click(function(){
		$(this).addClass('active').siblings().removeClass('active');
		$('.select-images').html('<img src="'+$(this).find('.upload-images-item').attr('data-images')+'" class="select-images-box-80px">');
	});
	
	$('.upload-images-list li').dblclick(function(){
		$(this).addClass('active').siblings().removeClass('active');
		$('.select-images').html('<img src="'+$(this).find('.upload-images-item').attr('data-images')+'" class="select-images-box-80px">');
		select_images();
	});


	$('.delete-select').click(function(){
		if($('input[type="checkbox"]:checked').size()==0){
			valert({status:'warning',msg:'请至少选择一项！'})
			return false;
		}else {
			confirm_form({
				formid:'#formlist',
				furl:'__URL__/delete',
				script:'callback(ret)',
				title:'删除图片',
				msg:'真的要删除吗？',
				class:'text-center',
				confirm:1
			});
		}
	});
	
	$('.select-one').click(function(){
		select_images();
	});
});

function callback(ret){
	$('input[type="checkbox"]:checked').each(function(){
		$('[data-key="'+$(this).val()+'"]').remove();
	});
	$('#ajax-modal').modal('hide');
}

function select_images(){

		if($('.select-images').html()==''){
			valert({status:'warning',msg:'请选择图片！'})
			return false;
		}else{
			var type=parent.$('.modules-action').attr('data-type');

			switch(type){
				case 'slide':
					var index=parent.$('.modules-action').html();
					var img=$('.select-images img').attr('src');
					//alert(img);
					parent.$('.slide-group .slide-item').eq(index).find('[name="images[]"]').val(img);
					parent.$('.slide-group .slide-item').eq(index).find('.images a').attr('href',img);
					parent.$('.slide-group .slide-item').eq(index).find('.images img').attr('src',img+'?imageView2/2/w/250/h/250');
					//parent.image_zoom();	
				break;
				case 'conditions': 
						var field=parent.$('.vform-action').html();
						var nameId = field.split("-");
						var prifx = nameId[1] > 0 ? '-'+nameId[1] : '';
						var tag='#'+nameId[0]+'-list' + prifx;
						var name = nameId[1] > 0 ? nameId[0]+'-'+nameId[1] : nameId[0];
						var img=$('.select-images img').attr('src');
						var html='<li id="" data-path="'+img+'" class="text-center">'+
						'<div class="li-img-box">'+
						'	<a class="image-zoom" href="'+img+'" title="'+img+'"><img src="'+img+'?imageView2/2/w/250/h/250"></a>'+
						'</div>'+													
						'<div class="delete-images" onclick="$(this).parent(\'li\').remove();$(\'#'+field+'\').val(\'\');"><div class="selected-icon"><i class="fa fa-times"></i></div></div>'+
					'</li>';
						parent.$('#'+name).val(img);
						parent.$(tag).html(html);
						parent.image_zoom();
					break;
				default:
					var field=parent.$('.vform-action').html();
					var tag='#'+field+'-list';
					var img=$('.select-images img').attr('src');
					var html='<li id="" data-path="'+img+'" class="text-center">'+
								'<div class="li-img-box">'+
								'	<a class="image-zoom" href="'+img+'" title="'+img+'"><img src="'+img+'?imageView2/2/w/250/h/250"></a>'+
								'</div>'+													
								'<div class="delete-images" onclick="$(this).parent(\'li\').remove();$(\'#'+field+'\').val(\'\');"><div class="selected-icon"><i class="fa fa-times"></i></div></div>'+
							'</li>';
					parent.$('#'+field).val(img);
					parent.$(tag).html(html);
					parent.image_zoom();				
				break;
			}
			

			parent.$('#ajax-modal2').modal('hide');
		}
}

</script>
<include file="Public:footer" />