<include file="Index/header" />
<div class="bg-gray content-wrap" style="height: 100%; width: 100%; overflow: scroll;">

    <div class="content pd15">
        <div class="bg-warning pd10 letter-spacing1">
            <i class="fa fa-exclamation-circle fs16 fl text_yellow"></i>
            <p class="ml20 mb0">小提示，获取分类失败的时候才会显示当前页面，请尽快与客服取得联系！</p>
        </div>
        <div class="row mt30">
            <div class="col-md-12">
                <div class="text-center strong text_red fs18 mt30">获取分类失败，请联系客服！</div>
            </div>
        </div>
    </div>
</div>