<include file="Public:header" />
<div class="navbar-fixed-top">
	<div class="pull-right">
		<div class="btn btn-primary btn-rad btn-trans m10" onclick="ref()"><i class="fa fa-refresh"></i> 刷新</div>
	</div>
	
	<ul class="nav-box2" data-page="__SELF__">
		<li><a href="{:U('/search/synonym', ['pro' => 'goods'])}">商品</a></li>
		<li><a href="{:U('/search/synonym', ['pro' => 'shop'])}">商家</a></li>
		<li><a href="{:U('/search/synonym', ['pro' => 'demo'])}">demo</a></li>
	</ul>
</div>
<div class="m20">
	<div class="btn btn-trans btn-lg btn-rad btn-primary" data-type="vmodal" data-title="添加同义词" data-url="/search/addSynonym"><i class="fa fa-plus"></i> 添加同义词</div>
	<div class="clearfix md20"></div>
	<form id="formlist" name="formlist">
		<div class="block-flat">
			<div class="content">		
				<table>
					<thead>
						<tr>
							<th nowrap="nowrap" width="500" class="text-center">词</th>
							<th nowrap="nowrap" class="text-center">同义词(<i class="text_red" style="color:#ff0000">点击单词可以删除</i>)</th>
						</tr>
					</thead>
					<tbody id="sort-0">
						<volist name="data" id="vo">
							<tr>
								<td style="word-break:break-all"><span>{$key}(<a data-title="{$key}及其下面所有同义词" class="text_red del" data-key="{$key}" data-type="all" style="color:#ff0000" href="javascript:;">删除</a>)</span></td>
								<td style="word-break:break-all"><span>
								<php>
								$synonym = $key;
								</php>
								<volist name="vo" id="ci" key="k">
								<a class="del" data-title="{$synonym}中的{$ci}" data-key="{$synonym}" data-synonym="{$ci}" href="javascript:;" title="删除单词({$ci})">{$ci}</a>,
								</volist>
								</span></td>
							</tr>
						</volist>
					</tbody>
				</table>			
			</div>
		</div>
	</form><!--/form-->
	<div class="clearfix h50px"></div>
</div>
<include file="Public:copyright" />
<include file="Public:js" />
<script>
$(".del").click(function() {
	var d = $(this).data();
	vmodal({
		  title:'删除同义词',
		  msg:'您真的要删除单词'+d.title+'吗?',
		  class:'text-center',
		  confirm:1,
		  footer:false,
		  width:'600px',
	  },function(ret) {
		  $(".modal-ok").click(function() {
			  ajax_post({
				  url:'{:U("/search/delSynonym")}',
				  data:d,
			  },function(ret) {
				  valert({
						status:ret.code,
						msg:ret.msg
				  });
				  if(ret.code == 'success') {
					  ref();
				  }
			  })
		  })
	  })
})
</script>
<include file="Public:footer" />