<div class="p20 box">
	<div class="row">
		<div class="col-xs-6 auth-text">
			<div>用户ID：{$rs.uid}</div>
			<div>用户名：{$rs.user.nick}</div>
			<div>品牌中文名：<span class="ft18 strong text-danger">{$rs.name}</span></div>
			<div>品牌英文名：{$rs.ename}</div>
			<div>标签：{$rs.tag}</div>
			<div>经营类目：<volist name="rs.category_name" id="vo"><div class="btn btn-xs btn-trans">{$vo}</div></volist></div>
			<div>品牌介绍：{$rs.about|nl2br}</div>

			
			<div>申请时间：{$rs.atime}</div>
			<div>审核状态：
				{:status($rs['status'],array(0=>array('等待审核','btn-default'),1=>array('审核通过','btn-success'),2=>array('拒绝审核','btn-danger')))}
			</div>
		</div>
		<div class="col-xs-6">
			<div>
				品牌logo：
			</div>
			<div class="md20"><a class="image-zoom" href="{$rs.logo}"><img src="{:myurl($rs['logo'],200,100,2,'',1)}"></a></div>
			<div>
				品牌形象图：
			</div>
			<div class="md20"><a class="image-zoom" href="{$rs.images}"><img src="{:myurl($rs['images'],200,100,2,'',1)}"></a></div>

			
		</div>
	</div>
	<div class="ft18 strong p10 border-d md20">审核记录</div>
	
	<form data-url="__URL__/logs_add" data-id="#form_{$rs.id}" id="form_{$rs.id}" class="form-horizontal vform">
			{:W('Widget/buildform',array(array(
				'field'		=>array(	
					array(
						'formtype'		=>'radio',
						'label'			=>'状态',
						'name'			=>'status',
						'data'			=>array(array(0,'等待审核'),array(1,'通过审核'),array(2,'拒绝审核')),
						'field'			=>array(0,1),
						'value'			=>$rs['status'],
					),
					array(
						'formtype'		=>'textarea',
						'label'			=>'原因',
						'name'			=>'reason',
						'tips'			=>'拒绝审核时必填',
					),
					array(
						'formtype'		=>'hidden',
						'name'			=>'brand_ext_id',
						'value'			=>$rs['id'],
					),					
					array(
						'formtype'		=>'html',
						'label'			=>' ',
						'html'			=>'<button type="button" class="btn btn-primary btn-150px logs-add"><i class="fa fa-check"></i> 提交</button>'
					),


				),
			)))}
	
	
	</form>
	<notempty name="rs.logs">
	<ul class="timeline">
		<volist name="rs.logs" id="vo">
		<li>
			<i class="fa fa-clock-o"></i>
			<span class="date">
				{$vo.atime}
			</span>
			<div class="content">
				<div class="md20">审核状态：
					{:status($vo['status'],array(0=>array('等待审核','btn-default'),1=>array('审核通过','btn-success'),2=>array('拒绝审核','btn-danger')))}
				</div>
				<notempty name="vo.reason">
				<div class="md20 ft14">
					原因：
					{$vo.reason|nl2br}
				</div>
				</notempty>
				<notempty name="vo.remark">
				<div class="md20 ft14">
					备注：
					{$vo.remark|nl2br}
				</div>
				</notempty>
				<small class="md10">
					雇员ID：{$vo.a_uid}
				</small>
			</div>
		</li>
		</volist>
	</ul>
	</notempty>
	
</div>
<div class="clearfix">
	<div class="pull-right text-gray" onclick="$(this).closest('tr').toggleClass('hide');"><i class="fa fa-times-circle-o fa-2x"></i></div>	
</div>

<script>
image_zoom();
$('.logs-add').click(function(){
	var d=$(this).closest('form').data();
	ajax_post_form({
		formid:d.id
	},function(ret){
		valert(ret);
		if(ret.status=='success'){
			var tag='#item-{$rs.id}';
			var url='__URL__/view/id/{$rs.id}';
			loadurl({tag:tag,url:url});
		}
	});

});
</script>