<include file="Public:header" />
		<div class="page-group">
			<div id="page-download" class="page bg-white">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="icon icon-left pull-left back" href="/"></a>
					<h1 class="title">App下载</h1>
					<a class="icon iconfont icon-category pull-right ml5 ac-menu" onclick="top_menu()"></a>
				</header>

				<!-- 浮动导航 -->
				<include file="Public:fixed-menu" />
				
				<!-- 这里是页面内容区 -->		
				<div class="content download-back">
					<div class="max-w640 mall-bg-img">
						<div class="mall-logo text-center">
							<img src="../Public/download/images/mall-logo.png" alt="">
						</div>
						<div class="mall-btn">
							<a href="/Download/apk" class="android-btn-down mallwap-btn-down disable-router"><img src="../Public/download/images/android-icon.png" alt="">安卓版下载</a>
							<a href="https://itunes.apple.com/us/app/id1225113526?l=zh&ls=1&mt=8" class="ios-btn-down mallwap-btn-down disable-router"><img src="../Public/download/images/ios-icon.png" alt="">IOS版下载</a>
						</div>
					</div>

					<div class="mall-bot">
						<img src="../Public/download/images/mall-bot-img.png" alt="">
					</div>
				</div>
			</div>	
		</div>	

<include file="Public:script" />
<include file="Public:footer" />