<include file="Public:header" />
		<div class="page-group">
			<div id="page-register" class="page">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="icon icon-left pull-left back" href="/"></a>
					<h1 class="title">注册</h1>
				</header>
		
				<!-- 这里是页面内容区 -->		
				<div class="content">
					<div class="card">
						<a href="__URL__/register_person" class="card-content" data-no-cache="true">
							<div class="card-content-inner text-center">
								<div><i class="iconfont icon-zhuce ft3 text-info"></i></div>
								<div>个人注册</div>
							</div>
						</a>
					</div>		
					<div class="card">
						<a href="__URL__/register_company" class="card-content" data-no-cache="true">
							<div class="card-content-inner text-center">
								<div><i class="iconfont icon-qiyewenjian ft3 text-red"></i></div>
								<div>企业注册</div>
							</div>
						</a>
					</div>						
				</div>
			</div>	
		</div>	
		


<include file="Public:script" />
<include file="Public:footer" />