<div id="ajax-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">提示窗口</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<div class="pull-left text-danger"></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div><!-- /.modal-footer -->
		</div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .danger .full -->
	</div><!-- /.modal-dialog -->

</div>
		
<div id="ajax-modal2" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">提示窗口</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<div class="pull-left text-danger"></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div><!-- /.modal-footer -->
		</div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .danger .full -->
	</div><!-- /.modal-dialog -->

</div>
<div class="loading hide">
	<div class="loading-body text-center"><img src="__IMAGES__/loading.gif"></div>
</div>

<form enctype="multipart/form-data" id="form-upload" data-url="/Upload/upload_save" class="hide">
	<input id="imageData" name="imageData" type="file" value="" />
	<input type="hidden" id="width" name="width" value="">
	<input type="hidden" id="height" name="height" value="">
	<input type="hidden" id="type" name="type" value="">	
	<input type="hidden" id="field" name="field" value="">
	<input type="hidden" id="field1" name="field1" value="">
	<input type="hidden" id="field2" name="field2" value="">
</form>

<!--[if IE 8]>
<script src="__PROUI__/js/helpers/excanvas.min.js"></script>
<![endif]-->


<js href="__JS__/jquery-2.1.1.min.js" />	
<js href="__FLATDREAM__/js/jquery.gritter/js/jquery.gritter.js" />	
<js href="__FLATDREAM__/js/jquery.icheck/icheck.min.js" />	
<js href="__FLATDREAM__/js/bootstrap/dist/js/bootstrap.min.js" />	
<js href="__FLATDREAM__/js/jquery.magnific-popup/dist/jquery.magnific-popup.min.js" />	
<js href="__FLATDREAM__/js/jquery.niftymodals/js/jquery.modalEffects.js" />	
<js href="__FLATDREAM__/js/jasny.bootstrap/extend/js/jasny-bootstrap.min.js" />	

<js href="__JS__/jquery-validation/js/jquery.validate.min.js" />
<js href="__JS__/artTemplate/dist/template-native.js" />	
<js href="__JS__/toastr/toastr.js" />	
<js href="__JS__/jquery.form.js" />		
<js href="../Public/js/jquery.countdown.min.js" />

<script type="text/javascript" src="/Public/Apps/make.js"></script>

<script>
	var controller='{$Think.const.CONTROLLER_NAME}';
	var obj=$('.menubar ul li[data-controller="'+controller+'"]');	
	if(obj.size()>0){
		//$('.header ul li.active').removeClass('active');
		obj.addClass('active');
	}
</script>

<include file="Home@Public:tongji" />