<header class="header fixed-top">
	<div>
		<div class="l">
			<i class="icons i-back" onclick="closeWin()"></i>
		</div>
		<div class="title">
			商品库存编辑
		</div>
		<div class="r">
		</div>
	</div>
</header>
<section>	
	<!--主菜单-->
	<div class="row tabs">
		<div class="col-50">
			<div class="tabs-item active" data-active="1">
				在售中(<span class="c-1">0</span>)
			</div>
		</div>	
		<div class="col-50">
			<div class="tabs-item" data-active="1">
				仓库中(<span class="c-2">0</span>)
			</div>
		</div>
	</div>	
	<div class="clearfix"></div>
	<div class="tabs-content">
		<div class="tabs-pane active online">
			<div class="pagelist"></div>
			<div class="p10 load-more" onclick="goods_online_more($(this).closest('.tabs-pane'))">
				<div class="btn btn-lg btn-block btn-danger btn-trans">加载更多……</div>
			</div>	
		</div>
		<div class="tabs-pane offline">
			<div class="pagelist"></div>
			<div class="p10 load-more" onclick="goods_offline_more($(this).closest('.tabs-pane'))">
				<div class="btn btn-lg btn-block btn-danger btn-trans">加载更多……</div>
			</div>			
		</div>
		
	</div>	

</section>


<script id="tpl_goods_sku" type="text/html">
	<form class = "sku_edit">
		<div class="p10 border-d">
			<div class="row text-center b">
				<div class="col-20">售价</div>
				<div class="col-20">库存</div>
				<div class="col-20">市场价</div>
				<div class="col-20">成本价</div>
				<div class="col-20">重量</div>
				<div class="clearfix"></div>
			</div>
		</div>	
		<% for(i=0;i<data.length;i++){ %>
		<div class="p10 sku_value">
			<div class="md5 b"><%= data[i].attr_name %></div>
			<div class="row">
				<input  name="id[]" type = "hidden" value = "<%= data[i].id %>"/>
				<input  name="code[]" type = "hidden" value = "<%= data[i].code %>"/>
				<input  name="barcode[]" type = "hidden" value = "<%= data[i].barcode %>"/>
				<div class="col-20"><input style="border: 1px solid #dcdcdc;" class="text-center" name="price[]" type = "text" value = "<%= data[i].price %>"/></div>
				<div class="col-20"><input style="border: 1px solid #dcdcdc;" class="text-center" name="num[]" type = "text" value = "<%= data[i].num %>"/></div>
				<div class="col-20"><input style="border: 1px solid #dcdcdc;" class="text-center" name="price_market[]" type = "text" value = "<%= data[i].price_market %>"/></div>
				<div class="col-20"><input style="border: 1px solid #dcdcdc;" class="text-center" name="price_purchase[]" type = "text" value = "<%= data[i].price_purchase %>"/></div>
				<div class="col-20"><input style="border: 1px solid #dcdcdc;" class="text-center" name="weight[]" type = "text" value = "<%= data[i].weight %>"/></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<% } %>
		<div class="btn btn-danger btn-block m10" onclick="change_sku(<%= data[0].goods_id %>)">保存</div>
	</form>
	
</script>

<include file="Public:d_layer" />
<script>
fixBar(1);

ajax_post({
	url:'/Api/api',
	data:{apiurl:'/SellerGoods/goods_sku',goods_id:{$_GET.goods_id},is_openid:1}
},function(ret){
	var html=template('tpl_goods_sku',{data:ret.data});
	$('.page.active section').html(html);
	
});	


//修改属性价格库存
function change_sku(goods_id){
	var id = '';
	var num = '';
	var code = '';
	var price = '';
	var barcode = '';
	var price_market = '';
	var price_purchase = '';
	var weight = '';
	var result=true;
	
	$(".sku_edit .sku_value").each(function(k,v){
		id += k+'='+($(this).find("input[name='id[]']").val())+'&';
		code += k+'='+($(this).find("input[name='code[]']").val())+'&';
		barcode += k+'='+($(this).find("input[name='barcode[]']").val())+'&';
		price_market += k+'='+($(this).find("input[name='price_market[]']").val())+'&';
		price_purchase += k+'='+($(this).find("input[name='price_purchase[]']").val())+'&';
		weight += k+'='+($(this).find("input[name='weight[]']").val())+'&';
		if($(this).find("input[name='price[]']").val() == ''){
			valert({status:0,msg:'销售价不能为空'});
			result = false;
		}else{
			price += k+'='+($(this).find("input[name='price[]']").val())+'&';
		}
		if($(this).find("input[name='num[]']").val() == ''){
			valert({status:0,msg:'库存不能为空'});
			result = false;
		}else{
			num += k+'='+($(this).find("input[name='num[]']").val())+'&';
		}
	});
	
	if(!result){
		return result;
	}
	id = id.substring(0,id.length-1);
	num = num.substring(0,num.length-1);
	code = code.substring(0,code.length-1);
	price = price.substring(0,price.length-1);
	barcode = barcode.substring(0,barcode.length-1);
	price_market = price_market.substring(0,price_market.length-1);
	price_purchase = price_purchase.substring(0,price_purchase.length-1);
	weight = weight.substring(0,weight.length-1);

	var data={
		apiurl:'/SellerGoods/goods_sku_edit',
		goods_id:goods_id,
		is_openid:1,
		no_sign:'barcode,code,price_purchase,price_market,weight',
		id:id,
		price:price,
		price_market:price_market,
		price_purchase:price_purchase,
		weight:weight,
		num:num,
		code:code,
		barcode:barcode
	};
	ajax_post({
		url:'/Api/api',
		data:data,
	},function(ret){
		if(ret.code==1) {
			valert(ret);
		
		}else{
			valert(ret);
		}
	});
	
	
}


</script>