<header class="header fixed-top">
	<div>
		<div class="l">
			<i class="icons i-back" onclick="closeWin()"></i>
		</div>
		<div class="title">
			选择区域
		</div>
	</div>
</header>

<section id="loading-district">
	<div>数据加载中</div>
</section>

<script id="district-list" type="text/html">
    <% for (var i = 0; i < data.length; i ++) { %>
		<div class="line-box noicon hover" onclick="xuan_district({id: '<%= data[i].id %>' ,a_name: '<%= data[i].a_name %>'} )">
			<div class="fl title"><%= data[i].a_name %></div>
		</div>
    <% } %>
</script>


<script>
fixBar(1);
ajax_post({
	url:'/Api/api',
	data:{
		apiurl:'/Tools/city',
		sid:{$_GET['city']},
		no_sign:'sid',
	},
},function(ret){
	if( ret.code == 1 ){
		var html = template('district-list', {data:ret.data});
		$('#loading-district').html(html);
	}else{
		valert({msg:'加载失败，请重试'});
	}
});

function xuan_district(data){
	$('.page #new-address-form #district').attr("aname",data.a_name);;
	$('.page #new-address-form #district').val(data.id);
	// $('.page.active .vmodal .vmodal-footer').click();
	clear_town();
	Address_sync();
	openWin({name:'address_town',url:'/Address/town/district/' + data.id,ref:true});
}

</script>