<header class="header fixed-top">
	<div>
		<div class="l">
			<i class="icons i-back" onclick="closeWin()"></i>
		</div>
		<div class="title">
			选择县/镇
		</div>
	</div>
</header>

<section id="loading-town">
	<div>数据加载中</div>
</section>

<script id="town-list" type="text/html">
    <% for (var i = 0; i < data.length; i ++) { %>
		<div class="line-box noicon hover" onclick="xuan_town({id: '<%= data[i].id %>' ,a_name: '<%= data[i].a_name %>'} )">
			<div class="fl title"><%= data[i].a_name %></div>
		</div>
    <% } %>
</script>


<script>
fixBar(1);
ajax_post({
	url:'/Api/api',
	data:{
		apiurl:'/Tools/city',
		sid:{$_GET['district']},
		no_sign:'sid',
	},
},function(ret){
	if( ret.code == 1 ){
		var html = template('town-list', {data:ret.data});
		$('#loading-town').html(html);
	}else{
		closeWin({name:'address_province'});
		closeWin({name:'address_city'});
		closeWin({name:'address_district'});
		closeWin({name:'address_town'});
	}
});

function xuan_town(data){
	$('.page #new-address-form #town').attr("aname",data.a_name);;
	$('.page #new-address-form #town').val(data.id);
	// $('.page.active .vmodal .vmodal-footer').click();
	Address_sync();
	closeWin({name:'address_province'});
	closeWin({name:'address_city'});
	closeWin({name:'address_district'});
	closeWin({name:'address_town'});
}

</script>