<div class="fixed-menu hide">
    <div>
        <a href="/">
            <i class="iconfont icon-home"></i>
            <div>首页</div>
        </a>
    </div>
    <div>
        <a href="/Goods/category">
            <i class="iconfont icon-category1"></i>
            <div>分类</div>
        </a>
    </div>
    <div class="hide">
        <a href="/hot">
            <i class="iconfont icon-remen"></i>
            <div>推荐</div>
        </a>
    </div>
    <div>
        <a href="/Ucenter">
            <i class="iconfont icon-wode"></i>
            <div>我的</div>
        </a>
    </div>
</div>