<include file="Public:artTemplate" />
	    <script src="__SUI__/sm.js"></script>
	    <script src="__SUI__/sm-extend.js"></script>
	    <script src="__SUI__/zepto.cookie.min.js"></script>
	    <script src="__SUI__/template-native.js"></script>   
	    <script src="__SUI__/lazysizes.min.js"></script>
	    <script src="__SUI__/localResizeIMG/LocalResizeIMG.js"></script>
	    <script src="__SUI__/localResizeIMG/mobileBUGFix.mini.js"></script>
		<script src="__SUI__/jquery.countdown.js"></script>
		<script src="__SUI__/iscroll.js"></script>
		<script src="../Public/draw/js/rotaryDraw.js"></script>
	    <script src="__SUI__/apps.js"></script>
