<!DOCTYPE html>
<html>
	<head>
		<title>唐人街</title>
		<meta name="keywords" content="唐人街" />
		<meta name="description" content="唐人街" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../Public/Css/style.css" media="screen" rel="stylesheet" type="text/css">
		<link href="../Public/Css/Animate/animate.min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="../Public/Js/Banner/css/styles.css" media="screen" rel="stylesheet" type="text/css">
		
		<link href="../Public/Js/alertPopShow/common.css" media="screen" rel="stylesheet" type="text/css">
		<link href="../Public/Css/custom.css" media="screen" rel="stylesheet" type="text/css">
		
		<!--焦点图-->
		<!--<link rel="stylesheet" href="../Public/Js/responsiveslides/lrtk.css">-->
		
		<!--焦点图-->
		<link rel="stylesheet" href="../Public/Js/bxslider/jquery.bxslider.css">
		
		<script src="../Public/Js/jquery-2.1.1.min.js"></script>		
		<script src="../Public/Js/template-native.js"></script>
		<script src="../Public/Js/jquery.form.js"></script>
		<script src="../Public/Js/alertPopShow/alertPopShow.js"></script>
		<script src="../Public/Js/iscroll-probe.js"></script>
		<script src="../Public/Js/jquery.countdown.min.js"></script>
		<script src="../Public/Js/global.js"></script>
		
		<!--焦点图-->
		<!--<script src="../Public/Js/responsiveslides/responsiveslides.min.js"></script>-->
		
		<!--焦点图-->
		<script type="text/javascript" src="../Public/Js/bxslider/jquery.bxslider.min.js"></script>
	</head>

<!--
<script type="text/javascript" src="../Public/Js/jquery-1.7.2.min.js"></script>-->
<!--抽奖样式-->
<link href="../Public/Js/luckDraw/style.css" media="screen" rel="stylesheet" type="text/css">

<header class="header fixed-top">
	<div>
		<div class="l">
			<i class="icons i-back" onclick="history.go(-1)"></i>
		</div>
		<div class="title">
			抽奖规则
		</div>
		<div class="r">
			
		</div>
	</div>
</header>

<div id = "zhezhao" onclick = "tips_cancel()"></div>
<div class = "body_a">
	<div class = "luck_list_bg ">
		<div class = "pl10 pr10" style="color:#fff;">
			<p class = "text-center ft14">抽奖细则</p>
			</br>
			<p>1、每天打开专题页面进行签到，即可享受一次免费抽奖的机会；</p>
			<p>2、进入活动专题页面，支付100个唐宝，即可再次享受抽奖机会1次（100个唐宝1次抽奖机会，可无限支付）</p>
			<p>3、当日商城购物金额满100元（含）以上，可获得一次免费抽奖的机会。</p>
			</br>
			<p class = "text-center ft14">领奖规则</p>
			</br>
			<p>1、若抽中的是积分奖励，可直接点击领取奖励，即可进入领取积分页面，领取您抽中的积分</p>
			<p>2、若抽中的是实物奖品，可直接点击领取或是点击该页面下方的【我的奖品】，进入我的奖品页面，填写您的收货信息并支付邮费即可。</p>
			<p>3、该活动中的所有实物奖品，一旦您抽中并收到该奖品后，一律不退不换。</p>
			</br>
			<p class = "text-center ft14">礼品类型</p>
			</br>
			<p>礼品类：抽奖送礼品</p>
			<p>大唐专用纯棉毛巾、大唐专用旅行收纳包、大唐专用双层玻璃杯、大唐专用家庭健康秤、大唐专用手机自拍杆、大唐专用彩棉两用被、大唐专用健康舒适枕等。</p>
			<p>积分类：抽奖奖积分</p>
			<p>积分奖励100积分——10000积分不等，抽奖次数越多，越有机会赢取大额积分。</p>
		</div>
		
		
		
	</div>
</div>

