<include file="Public:header" />
<include file="nav" />
<div class="m20">
	<div class="block-flat">
		<form method="post" action="__URL__/export_mobile_orders_file" role="form" class="p10 md10" id="export_set" target="_blank">
			<div class="alert alert-warning alert-white-alt2 rounded">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<div class="icon"><i class="fa fa-warning"></i></div>
				<strong>提示：</strong> 单次最多可导出1000条记录。如果没有弹出下载窗口，请检查浏览器是否屏蔽了窗口弹出。
			</div>

			<table class="no-bordered no-bg">
				<tr>
					<td width="20%" class="text-right strong">终端</td>
					<td>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="terminal[]" id="terminal[]" value="0" {:in_array(0,$rs['terminal'])?'checked':''}> PC</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="terminal[]" id="terminal[]" value="1" {:in_array(1,$rs['terminal'])?'checked':''}> WAP</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="terminal[]" id="terminal[]" value="2" {:in_array(2,$rs['terminal'])?'checked':''}> IOS</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="terminal[]" id="terminal[]" value="3" {:in_array(3,$rs['terminal'])?'checked':''}> ANDROID</label>
					</td>
				</tr>
				<tr>
					<td width="20%" class="text-right strong">付款状态</td>
					<td>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="1" {:in_array(1,$rs['status'])?'checked':''}> 已拍下</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="2" {:in_array(2,$rs['status'])?'checked':''}> 已付款</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="3" {:in_array(3,$rs['status'])?'checked':''}> 已发货</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="4" {:in_array(4,$rs['status'])?'checked':''}> 已收货</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="5" {:in_array(5,$rs['status'])?'checked':''}> 已评价</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="6" {:in_array(6,$rs['status'])?'checked':''}> 已归档</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="10" {:in_array(10,$rs['status'])?'checked':''}> 已关闭</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="status[]" id="status[]" value="11" {:in_array(10,$rs['status'])?'checked':''}> 已退款关闭</label>
					</td>
				</tr>
				<tr>
					<td width="20%" class="text-right strong">付款方式</td>
					<td>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="pay_type[]" id="pay_type[]" value="1" {:in_array(1,$rs['pay_type'])?'checked':''}> 余额</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="pay_type[]" id="pay_type[]" value="3" {:in_array(3,$rs['pay_type'])?'checked':''}> 微信</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="pay_type[]" id="pay_type[]" value="5" {:in_array(5,$rs['pay_type'])?'checked':''}> 支付宝</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="pay_type[]" id="pay_type[]" value="7" {:in_array(7,$rs['pay_type'])?'checked':''}> PC银联</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="pay_type[]" id="pay_type[]" value="8" {:in_array(8,$rs['pay_type'])?'checked':''}> WAP银联</label>
					</td>
				</tr>
				<tr>
					<td width="20%" class="text-right strong">类型</td>
					<td>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="recharge_type[]" id="recharge_type[]" value="1" {:in_array(1,$rs['recharge_type'])?'checked':''}> 话费</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="recharge_type[]" id="recharge_type[]" value="2" {:in_array(1,$rs['recharge_type'])?'checked':''}> 流量</label>
					</td>
				</tr>
				<tr>
					<td width="20%" class="text-right strong">运营商</td>
					<td>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="operator[]" id="operator[]" value="1" {:in_array(1,$rs['operator'])?'checked':''}> 移动</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="operator[]" id="operator[]" value="2" {:in_array(2,$rs['operator'])?'checked':''}> 联通</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="operator[]" id="operator[]" value="3" {:in_array(3,$rs['operator'])?'checked':''}> 电信</label>
					</td>
				</tr>
				<tr>
					<td width="20%" class="text-right strong">充值状态</td>
					<td>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="return_status_sum[]" id="return_status_sum[]" value="1" {:in_array(1,$rs['return_status_sum'])?'checked':''}> 成功</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="return_status_sum[]" id="return_status_sum[]" value="2" {:in_array(2,$rs['return_status_sum'])?'checked':''}> 受理中</label>
						<label class="mr10"><input type="checkbox" class="i-red-square" name="return_status_sum[]" id="return_status_sum[]" value="4" {:in_array(3,$rs['return_status_sum'])?'checked':''}> 失败</label>
					</td>
				</tr>

				<tr>
					<td width="20%" class="text-right strong">时间类型</td>
					<td>
						<label class="mr10"><input type="radio" class="i-red-square" name="day_field" id="day_field" value="pay_time" {$rs['day_field']=='pay_time'?'checked':''}> 付款时间</label>
						<label class="mr10"><input type="radio" class="i-red-square" name="day_field" id="day_field" value="atime" {$rs['day_field']=='atime'?'checked':''}> 拍下时间</label>
						
					</td>
				</tr>
				<tr>
					<td width="20%" class="text-right strong">时间区间</td>
					<td>
						<div class="row">
							<div class="col-xs-3">
								<input type="text" id="sday" name="sday" placeholder="请输入时间从" value="{$rs.sday}" class="form-control datepicker " style="" data-date-format="yyyy-mm-dd">					
							</div>
							<div class="col-xs-3">
								<input type="text" id="eday" name="eday" placeholder="请输入时间至" value="{$rs.eday}" class="form-control datepicker " style="" data-date-format="yyyy-mm-dd">					
							</div>
							<div class="col-xs-3">
								<div class="btn btn-default" onclick="$('#export_set #sday,#export_set #eday').val('');"><i class="fa fa-times"></i>清除时间</div>
							</div>
						</div>
					</td>
				</tr>
				
				
				<tr>
					<td width="20%" class="text-right strong">导出字段</td>
					<td>
						<div style="max-height:300px;overflow:auto" class="box p20">
							<div class="row export_field">
							<volist name="rs.field" id="fid">
								<volist name="allfields" id="vo">
									<eq name="vo.id" value="$fid">
									<div class="col-xs-2">
									<label class="mr10"><input type="checkbox" class="i-red-square" name="field[]" id="field[]" value="{$vo.id}" checked> {$vo.label}</label>
									</div>
									</eq>
								</volist>					
							</volist>
							
							<volist name="allfields" id="vo">
								<notin name="vo.id" value="$rs.field">
								<div class="col-xs-2">
								<label class="mr10"><input type="checkbox" class="i-red-square" name="field[]" id="field[]" value="{$vo.id}"> {$vo.label}</label>
								</div>
								</notin>
							</volist>
							</div>
						</div>
						<div class="text-gray p10">拖动字段可进行排序</div>
					</td>
				</tr>			
			</table>
			

			
			<div class="p10 text-center">
				<button type="submit" class="btn btn-primary btn-150px hide">保存设置并导出</button>
				<button type="button" class="btn btn-primary btn-150px" onclick = "export_file()">保存设置并导出</button>
			</div>
			

		</form>
	</div>
</div>
<div class="clearfix"></div>

<include file="Public:copyright" />
<include file="Public:js" />

<script>
iCheckClass('#export_set');
$('#export_set .datepicker').datetimepicker({
	format:'Y-m-d',
	timepicker:false,
});

//排序
$('#export_set .export_field').sortable({
	stop: function(event, ui) {}
});

function export_file(){
	var data = getFormJson('#export_set');
	if($('input[name="field[]"]:checked').length < 8){
		valert({'status':'warning','msg':'请勾选8个字段以上'});
		return false;
	}
	ajax_post({
		url:'__URL__/export_mobile_orders_set_save',
		data:data,
	},function(ret){
		if(ret.status == 'success'){
			$("#export_set").submit();
		}else{
			valert(ret);
		}
		
	});
	
	return false;
}
</script>