.pt5{padding-top:0.5rem;}
.pl5{padding-left:0.5rem;}
.pr5{padding-right:0.5rem;}
.pd5{padding-bottom:0.5rem;}
.bg-white{background:#fff;}
h4{text-align: center;margin: 0.2rem;font-size:1.1rem;}

.bgimg{font-size:0px;}
.bgimg img{width:100%;display:block;}

.link{position:relative;}
.link .link-button {position: absolute;top: 0;height: 100%;}
.link .link-button.link-1{left: 21%;width: 14%;}
.link .link-button.link-2{left: 60%;width: 19%;}
.link .link-button.link-3{left: 40%;width: 17%;top: 16%;height: 43%;}

.link-goods-l{background:url(../images/100.jpg) repeat-y}
.link-goods-r{background:url(../images/101.jpg) repeat-y right}
.link-goods-l1{background:url(../images/200.jpg) repeat-y}
.link-goods-r1{background:url(../images/201.jpg) repeat-y right}

.green,.green .ibl,.green .ibr{background:#71e4ae}
.green .goods_name{color:#08864b}
.green .goods_price{border:1px solid #08864b}
.green .goods_price .fl{background:#08864b}
.green .goods_price .fr{color:#08864b}


.link-goods{margin:0 0.5rem;background: #fff;}
.link-goods .link-goods-item{width:48%;margin:0 1% 1rem 1%;background:#fff;position:relative;padding:0.3rem;border:1px solid #08864b}
.link-goods .link-goods-item .goods_name{padding: 0 0.3rem;font-size: 0.6rem;height: 1.7rem;line-height: 0.8rem;overflow: hidden;}
.link-goods .link-goods-item .goods_price{margin:0.3rem 5%;}
.link-goods .link-goods-item .goods_price .fl{color:#fff;padding: 0.1rem;width:70%;overflow:hidden;font-size:0.1rem;text-align:center;}
.link-goods .link-goods-item .goods_price .fl span{font-size:0.8rem}
.link-goods .link-goods-item .goods_price .fr{text-align:center;width:30%;font-weight: 700;}

.link-goods .link-goods-item .itl{position:absolute;top:0.3rem;left:0.3rem;width:10%;}
.link-goods .link-goods-item .itr{position:absolute;top:0.3rem;right:0.3rem;width:10%;}
.link-goods .link-goods-item .ibl{position:absolute;bottom:0px;left:0px;width:10%;}
.link-goods .link-goods-item .ibr{position:absolute;bottom:0px;right:0px;width:10%;}