<section>
	<div class="wallet-header">
		<div class="all_money">
			0
		</div>
		<div>总资产（元）</div>
	</div>
	<div class="box row border-d account-win md10">
		<div class="col-2 hover" onclick="openWin({name:'finance_orders',url:'/Finance/orders/status/4/month/{:date('Y-m')}'})">
			<div>
			<div class="money t-month-win">0</div>
			<div class="text-gray">本月收益（元）</div>
			</div>
		</div>
		<div class="col-2 hover" onclick="openWin({name:'finance_orders',url:'/Finance/orders/status/4'})">
			<div>
			<div class="money t-win">0</div>
			<div class="text-gray">累计收益（元）</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="line-box hover" onclick="openWin({name:'cash',url:'/Account/cash'})">
		<div class="row">
			<div class="col-2 title"><i class="icons i-cash fl icons-25px"></i>余额</div>
			<div class="col-2 text-right t-cash">0</div>
		</div>
	</div>
	<div class="line-box hover" onclick="openWin({name:'score',url:'/Score/index'})">
		<div class="row">
			<div class="col-2 title"><i class="icons i-score fl icons-25px"></i>积分</div>
			<div class="col-2 text-right t-score">0</div>
		</div>
	</div>
	<div class="line-box hover" onclick="openWin({name:'finance',url:'/Finance/index'})">
		<div class="row">
			<div class="col-2 title"><i class="icons i-finance fl icons-25px"></i>理财</div>
			<div class="col-2 text-right t-finance">0</div>
		</div>
	</div>
	<div class="line-box hover" onclick="openWin({name:'recharge',url:'/Recharge/index'})">
		<div class="row">
			<div class="col-2 title"><i class="icons i-recharge fl icons-25px"></i>充值</div>
			<div class="col-2 text-right"></div>
		</div>
	</div>	
	<div class="line-box hover" onclick="openWin({name:'withdraw',url:'/Withdraw/index',authed:true})">
		<div class="row">
			<div class="col-2 title"><i class="icons i-withdraw fl icons-25px"></i>提现</div>
			<div class="col-2 text-right"></div>
		</div>
	</div>
	<div class="line-box hover" onclick="openWin({name:'card',url:'/Card/index',authed:true})">
		<div class="row">
			<div class="col-2 title"><i class="icons i-bank-card fl icons-25px"></i>银行卡</div>
			<div class="col-2 text-right t-bank">0</div>
		</div>
	</div>
	<div class="line-box hover" onclick="openWin({name:'card_alipay',url:'/CardAlipay/index',authed:true})">
		<div class="row">
			<div class="col-2 title"><i class="icons i-other-card fl icons-25px"></i>支付宝/财付通</div>
			<div class="col-2 text-right t-alipay">0</div>
		</div>
	</div>
</section>

<footer class="footer border-t fixed-bottom">
	<ul class="col-4">
		<li>
			<div class="menu hover" onclick="openWin({name:'home',url:'/Index/home'})">
				<i class="icons i-home">
				</i>
				<div>
					首页
				</div>
			</div>
		</li>
		<li>
			<div class="menu hover" onclick="openWin({name:'shop',url:'/Goods/index'})">
				<i class="icons i-shop">
				</i>
				<div>
					换购
				</div>
			</div>
		</li>
		<li>
			<div class="menu hover" onclick="openWin({name:'wallet',url:'/Wallet/index',logined:true})">
				<i class="icons i-wallet active">
				</i>
				<div>
					钱包
				</div>
			</div>
		</li>
		<li>
			<div class="menu hover" onclick="openWin({name:'ucenter',url:'/Ucenter/index'})">
				<i class="icons i-my">
				</i>
				<div>
					我的
				</div>
			</div>
		</li>
	</ul>
</footer>

<script>
	fixBar(3);
	
	ajax_post({
		url:'/Api/api',
		data:{apiurl:'/Account/account',is_openid:1},
	},function(ret){
		if(ret.code==1){			
			$('.page.active .all_money').html(ret.data.all);
			$('.page.active .t-month-win').html(ret.data.finance_win_this_month);
			$('.page.active .t-win').html(ret.data.finance_win);
			$('.page.active .t-cash').html(ret.data.ac_cash);
			$('.page.active .t-score').html(ret.data.ac_score);
			$('.page.active .t-finance').html(ret.data.ac_finance);
			$('.page.active .t-bank').html(ret.data.bank);
			$('.page.active .t-alipay').html(ret.data.alipay);
		}
	});	
</script>