<div id="cart_right" class="cart_right clearfix">
	<div class="cart_block bg_f1 solid_r fl">
		<div class="cart_block_top solid_b">
			<div class="solid_b pb10">
				<a class="duce_1 db h40 re" href=""><span class="ab">我的账户</span></a>
				<a class="duce_2 db h40 re" href=""><span class="ab">我的收藏</span></a>
				<a class="duce_3 db h40 re" href=""><span class="ab">我的足迹</span></a>	
			</div>					
			<div id="cart_hide" class="line40 text-center ptb10 cart_hide re">
				<div class="duce_4 h40"></div>	
				<p class="mb0 fs16 plr10 line20">购物车</p>
				<span class="db bg_red text_white line22 fs14">0</span>
			</div>
		</div>
		<div class="cart_block_bottom ab">
			<div class="solid_b pb10" style="border-color:white">
				<div class="duce_5 db h40 re">
					<span class="ab pd10 text-center">
						<img width="120" src="https://img.alicdn.com/tfscom/TB1W7rRIXXXXXbEXXXXwu0bFXXX.png">
						<h5 class="mb0 text_white">扫码下载APP</h5>	
					</span>							
				</div>	
				<a class="duce_6 db h40 re" href=""><span class="ab">我的消息</span></a>						
			</div>	
			<div class="solid_t">
				<div class="line40 text-center h40 back-to-top"><img src="__NEW_DESIGN__images/cart_right_7.png"></div>
			</div>
		</div>
	</div>
	
	<div id="cart_none" class="cart_none fl re solid_r">
		<h4 class="plr10">购物车</h4>
		<div class="bg_f1 pl10 mb10">
			<p class="mb0 line36 solid_b pr10 text_over">
				<label class="square fl mr5 mt10">
					<input type="checkbox">
					<span></span>
				</label>
				<strong>店铺：JTO LADY JTOLADYJTOLADYJTOLADY</strong>
			</p>
			<div class="media">
				<div class="media-left">
					<label class="square">
						<input type="checkbox">
						<span></span>
					</label>
				</div>
				<div class="media-body pb10 pr10 solid_b">
					<img class="fl mr10 cart_img_small" src="__NEW_DESIGN__images/shop/xs_1.jpg">
					<p class="text_over mb0">夏季女装新版韩款夏季女装新版韩款</p>
					<p class="text_over mb0">1 X <span class="text_red">23.00</span></p>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<label class="square">
						<input type="checkbox">
						<span></span>
					</label>
				</div>
				<div class="media-body pb10 pr10 solid_b">
					<img class="fl mr10 cart_img_small" src="__NEW_DESIGN__images/shop/xs_1.jpg">
					<p class="text_over mb0">夏季女装新版韩款夏季女装新版韩款</p>
					<p class="text_over mb0">1 X <span class="text_red">23.00</span></p>
				</div>
			</div>					
		</div>
		<div class="bg_f1 pl10 mb10">
			<p class="mb0 line36 solid_b pr10 text_over">
				<label class="square fl mr5 mt10">
					<input type="checkbox">
					<span></span>
				</label>
				<strong>店铺：JTO LADY JTOLADYJTOLADYJTOLADY</strong>
			</p>
			<div class="media">
				<div class="media-left">
					<label class="square">
						<input type="checkbox">
						<span></span>
					</label>
				</div>
				<div class="media-body pb10 pr10 solid_b">
					<img class="fl mr10 cart_img_small" src="__NEW_DESIGN__images/shop/xs_1.jpg">
					<p class="text_over mb0">夏季女装新版韩款夏季女装新版韩款</p>
					<p class="text_over mb0">1 X <span class="text_red">23.00</span></p>
				</div>
			</div>					
		</div>			
		<div class="cart_bottom ab bg_f1">
			<h5 class="plr10">已选<span class="text_red">0</span>件商品 <span class="fr">共计<span class="text_red">￥950.00</span></span></h5>
			<div class="btn btn-block btn-danger btn-lg bor_no btn_m">结算</div>
		</div>
	</div>
</div>