<div class="clearfix">
	<div class="pull-right text-gray" onclick="$(this).closest('tr').toggleClass('hide');"><i class="fa fa-times-circle-o fa-2x"></i></div>	
</div>

<div class="p20 box">
	<div class="row">
		<div class="col-xs-5 auth-text">
			<div>用户ID：{$rs.uid}</div>
			<div>用户名：{$rs.user.nick}</div>
			<div>用户类型：
				<eq name="rs.user.type" value="1">
					企业用户
					<else />
					个人用户
				</eq>
			</div>
			<notempty name="rs.user.company"><div>公司名称：{$rs.user.company}</div></notempty>		
			<div>审核状态：
				{:status($rs['status'],array(0=>array('等待审核','btn-default'),1=>array('审核通过','btn-success'),2=>array('审核未通过','btn-danger')))}
			</div>			
			<div>申请时间：{$rs.atime}</div>
			<div class="md20"></div>
		</div>
		<div class="col-xs-7 auth-text">
			<div class="ft18 md10 p10 strong">素材</div>
			<div class="md20"><a class="image-zoom" href="{$rs.images}"><img src="{:myurl($rs['images'],300,100,2,'',1)}"></a></div>
		</div>
	</div>
</div>
<div class="ft18 strong p10 border-d md20">审核记录</div>
<eq name="rs.status" value="0">
	<form data-url="__URL__/logs_add" data-id="#form_{$rs.id}" id="form_{$rs.id}" class="form-horizontal vform">
		{:W('Widget/buildform',array(array(
			'field'		=>array(	
				array(
					'formtype'		=>'radio',
					'label'			=>'状态',
					'name'			=>'status',
					'data'			=>array(array(1,'通过审核'),array(2,'审核未通过')),
					'field'			=>array(0,1),
				),
				array(
					'formtype'		=>'textarea',
					'label'			=>'失败原因',
					'name'			=>'reason',
					'tips'			=>'审核未通过时必填',
				),
				array(
					'formtype'		=>'hidden',
					'name'			=>'sucai_id',
					'value'			=>$rs['id'],
				),					
				array(
					'formtype'		=>'html',
					'label'			=>' ',
					'html'			=>'<button type="button" class="btn btn-primary btn-150px logs-add"><i class="fa fa-check"></i> 提交</button>'
				),
			),
		)))}
	</form>
</eq>
<notempty name="rs.logs">
	<ul class="timeline">
		<volist name="rs.logs" id="vo">
			<li>
				<i class="fa fa-clock-o"></i>
				<span class="date">
					{$vo.atime}
				</span>
				<div class="content">
					<div class="md20">审核状态：
						{:status($vo['status'],array(0=>array('等待审核','btn-default'),1=>array('审核通过','btn-success'),2=>array('审核未通过','btn-danger')))}
					</div>
	
					<div class="md20 ft14">
						备注：
						{$vo.reason|nl2br}
					</div>
	
					<small class="md10">
						雇员ID：{$vo.a_uid}
					</small>
				</div>
			</li>
		</volist>
	</ul>
</notempty>


<div class="clearfix">
	<div class="pull-right text-gray" onclick="$(this).closest('tr').toggleClass('hide');"><i class="fa fa-times-circle-o fa-2x"></i></div>	
</div>

<script>
image_zoom();
$('.logs-add').click(function(){
	var d=$(this).closest('form').data();
	ajax_post_form({
		formid:d.id
	},function(ret){
		valert(ret);
		if(ret.status=='success'){
			valert({'status':'success','msg':ret.msg});
			var tag='#item-{$rs.id}';
			var url='__URL__/view/id/{$rs.id}';
			loadurl({tag:tag,url:url});
		}
	});

});
</script>