<extend name="Seller@Public:base" />
<block name="body">
    <div class="centent_body">
        <!-- to do your html codeing -->
        <div class="revision_bg">
            <div class="container ptb_size_lg clearfix">
                <!-- 左侧导航 -->
                <include file="Public:sideNav" />
                <!-- 左侧导航结束 -->

                <div class="revisionRight pd15" style="width: 1020px"><!-- 右侧内容 -->
                    <div class="clearfix revisionOrderTab sid-active" data-sid="{$Think.get.sid}">
                        <a class="fr btn btn-primary" href="{:U('/brand/create')}">创建品牌</a>
                        <a class="orderOption" data-sid="" href="{:U('/brand')}">所有品牌</a>
                        <a class="orderOption" data-sid="1" href="{:U('/brand/index', ['sid' => 1])}">已审核</a>
                        <a class="orderOption" data-sid="0" href="{:U('/brand/index', ['sid' => 0])}">未审核</a>
                    </div>

                    <!-- 表单 -->
                    <notempty name="data.code">
                        {:W('Common/Builder/nors', array('param' => array('text' => $data['msg'])))}
                        <else />
                        <div class="row">
                            <volist name="data" id="vo">
                                <div class="col-md-3 col-sm-6">
                                    <div class="fd-tile text-center" style="border:solid 1px #f0f0f0;">
                                        <a class="pd10" style="padding: 50px 0;display: block" href="javascript:;" title="{$vo.b_name}">
                                            <!--<img src="http://7xvbop.com1.z0.glb.clouddn.com/Fu9Bg60O5Dq_8fXw5GqAj0H7mL4W?imageMogr2/thumbnail/!80x80r/gravity/Center/crop/80x80?imageMogr2/thumbnail/!225x225r/gravity/Center/crop/225x225">-->
                                            <img src="{:myurl($vo['b_logo'], 80, 80)}">
                                        </a>
                                        <div class="clear"></div>
                                        <div class="row" style="border-top: solid 1px #F0F0F0;background: #F0F0F0">
                                            <div class="col-xs-12 day">
                                                <gt name="vo.status" value="0">
                                                        <a href="{:U('/brand/promotion', ['id' => $vo['id']])}" class="fs14 pd10" style="display: block">申请推广</a>
                                                    <else />
                                                        <a href="{:U('/brand/edit', ['id' => $vo['id']])}" class="fs14 pd10" style="display: block">修改品牌</a>
                                                </gt>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </notempty>
                </div>

            </div>
        </div>
        <!-- my codeing over -_-   -->

    </div>
</block>

<block name="css">

</block>

<block name="script">
    <!-- to do your javascript codeing -->
</block>