<div class="row pd10 text-center mt30 hide" style="border-top: solid 1px #F8F8F8">
	<div class="col-md-2 col-sm-2 pd20">
		<a class="hover_bg" href="/orders/index/sid/2.html">
			<img class="mg15" src="/Public/new_design/images/sell_1.png">
			<p class="mb20">订单发货</p>
		</a>
	</div>
	<div class="col-md-2 col-sm-2 pd20">
		<a class="hover_bg" href="/refund.html">
			<img class="mg15" src="http://ad.testleduimall.com/Public/new_design/images/sell_2.png">
			<p class="mb20">退货管理</p>
		</a>
	</div>
	<div class="col-md-2 col-sm-2 pd20">
		<a class="hover_bg" href="/refund.html">
			<img class="mg15" src="/Public/new_design/images/sell_3.png">
			<p class="mb20">退款列表</p>
		</a>
	</div>
	<div class="col-md-2 col-sm-2 pd20">
		<a class="hover_bg" href="http://ad.testleduimall.com">
			<img class="mg15" src="http://ad.testleduimall.com/Public/new_design/images/sell_4.png">
			<p class="mb20">广告位购买</p>
		</a>
	</div>
	<div class="col-md-2 col-sm-2 pd20">
		<a class="hover_bg" href="/activity.html">
			<img class="mg15" src="http://ad.testleduimall.com/Public/new_design/images/sell_5.png">
			<p class="mb20">促销管理 </p>
		</a>
	</div>
	<div class="col-md-2 col-sm-2 pd20">
		<a class="hover_bg" href="/brand.html">
			<img class="mg15" src="http://ad.testleduimall.com/Public/new_design/images/sell_6.png">
			<p class="mb20">我的品牌</p>
		</a>
	</div>
</div>
