<extend name="Seller@Public:base" />
<block name="body">
    <div class="centent_body">
        <!-- to do your html codeing -->
        <div class="revision_bg">
            <div class="container ptb_size_lg clearfix">
                <!-- 左侧导航 -->
                <include file="Public:sideNav" />
                <!-- 左侧导航结束 -->

                <div class="revisionRight pd15" style="width: 1020px"><!-- 右侧内容 -->

                    <div class="clearfix revisionOrderTab" data-url="">
                        <h4 class="pb10 solid_b">店铺设置</h4>
                    </div>

					<include file="Public:forms" />






                    <include file="right" />

                </div>

            </div>
        </div>
        <!-- my codeing over -_-   -->

    </div>
</block>

<block name="css">

</block>

<block name="script">
    <!-- to do your javascript codeing -->
    {$form.js}
    <Script>
		function examine(){
			if(confirm('请确定资料填写无误！')){
				$.post("__URL__/ajax_examine", { "type": "1" },function(ret){
					if(ret.code == 1){
						talert({status:'success',msg:ret.msg});
					}else{
						talert({status:'warning',msg:ret.msg});
					}
					
				});
			}
		}
	
	
        //选择城市，读取下一级
        function change_city(obj){
            var sid = $(obj).val();
            if(sid == 0){ return }
            $.post("__URL__/ajax_citys", { "sid": sid },function(ret){
                if(ret.code == 1){
                    $(obj).closest('div').nextAll('div').children('select').html('<option value="0">请选择</option>');
                    $(obj).closest('div').next('div').children('select').show().html(ret.html);
                }else if(ret.code == 3){
                    $(obj).closest('div').nextAll('div').children('select').hide().html('<option value="0">请选择</option>');
                }else{
                    talert({status:'warning',msg:ret.msg});
                }
            }, "json");
        }


    </Script>

</block>