<form data-url="__URL__/attr_edit_save" id="form_create" class="form-horizontal">
<div class="vform">

			{:W('Widget/buildform',array(array(
				'field'		=>array(
					array(
						'formtype'		=>'text',
						'label'			=>'属性名称',
						'name'			=>'attr_name',
						'is_need'		=>true,
					),
					array(
						'formtype'		=>'radio',
						'label'			=>'状态',
						'name'			=>'status',
						'data'			=>array(array(1,'启用'),array(0,'停用')),
						'field'			=>array(0,1),
					),
				
					array(
						'formtype'		=>'hidden',
						'name'			=>'id',
					),

				),
			),$rs))}

<div class="p20 text-center">
	<button type="submit" class="btn btn-primary btn-150px"><i class="fa fa-check"></i> 提交</button>
</div>
<!--token-->
</div>
</form>
<script>
iCheckClass();
checkform({
	formid:'#form_create',
},function(ret){
	valert(ret);
	if(ret.status=='success'){
		ref();
	}
});

</script>