<div class="bg_red mt5 mb10">
	<div class="container content_tle fs16 strong">
		<a href="{:DM('www')}">首页<span class="ab fs30 fl">◆</span></a>
		<a class="alert"  href="{:DM('my','/assets')}">账户管理<span class="ab fs30 fl">◆</span></a>
		<a href="{:DM('seller','/comments')}">信用中心<span class="ab fs30 fl">◆</span></a>
		<a href="{:DM('www','/service')}">客服中心<span class="ab fs30 fl">◆</span></a>
		<a href="{:erp_url($cfg['erp']['domain']['www'])}" target="_blank">C<sup>+</sup>消费系统<span class="ab fs30 fl">◆</span></a>
		<a href="{:DM('my')}">我是买家<span class="ab fs30 fl">◆</span></a>
		<!--<a href="{:DM('seller','/Statistic/realtimeSurvey')}">数据统计 <span class="ab fs30 fl">◆</span></a>-->
	</div>
</div>