<div class="bor_der w190 mr20 fl">
            <div class="pt10 pb10 bg_f1">
                <div class="user_left_tle">
                    <a class="pl45 db line36 text_black" href="javascript:;">
                        <span class="fl bg_red spot"></span><strong class="fs14">实时统计</strong>
                    </a>
                    <div class="ad">
                        <a class="pr15 text-center db line30" href="{:U('/statistic/realtimeSurvey')}">实时概况</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/realtimeSource')}">实时来源</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/realtimeList')}">实时榜单</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/realtimeVisit')}">实时访客</a>
                    </div>
                </div>
                <div class="user_left_tle">
                    <a class="pl45 db line36 text_black" href="javascript:;">
                        <span class="fl bg_red spot"></span><strong class="fs14">流量分析</strong>
                    </a>
                    <div class="ad">
                        <a class="pr15 text-center db line30" href="{:U('/statistic/flowSurvey')}">流量概况</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/flowMap')}">流量地图</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/flowVisit')}">访客分析</a>
                    </div>
                </div> 
                <div class="user_left_tle">
                    <a class="pl45 db line36 text_black" href="javascript:;">
                        <span class="fl bg_red spot"></span><strong class="fs14">商品分析</strong>
                    </a>
                    <div class="ad">
                        <a class="pr15 text-center db line30" href="{:U('/statistic/goodsSurvey')}">商品概况</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/goodsEffect')}">商品效果</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/goodsAbnormal')}">异常商品</a>
                    </div>
                </div> 
                <div class="user_left_tle">
                    <a class="pl45 db line36 text_black" href="javascript:;">
                        <span class="fl bg_red spot"></span><strong class="fs14">交易分析</strong>
                    </a>
                    <div class="ad">
                        <a class="pr15 text-center db line30" href="{:U('/statistic/transactionSurvey')}">交易概况</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/transactionConstitute')}">交易构成</a>
                    </div>
                </div>   
                <div class="user_left_tle">
                    <a class="pl45 db line36 text_black" href="javascript:;">
                        <span class="fl bg_red spot"></span><strong class="fs14">促销分析</strong>
                    </a>
                    <div class="ad">
                        <a class="pr15 text-center db line30" href="{:U('/statistic/promotionSurvey')}">促销概况</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/promotionEffect')}">促销效果</a>
                    </div>
                </div>   
                <div class="user_left_tle">
                    <a class="pl45 db line36 text_black" href="javascript:;">
                        <span class="fl bg_red spot"></span><strong class="fs14">报表导出</strong>
                    </a>
                    <div class="ad">
                        <a class="pr15 text-center db line30" href="{:U('/statistic/generateReport')}">生成报表</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/myReport')}">我的报表</a>
                        <a class="pr15 text-center db line30" href="{:U('/statistic/recommendReport')}">推荐报表</a>
                    </div>
                </div>   
            </div>
        </div>