<include file="Public:header_" />

<notempty name="pagelist.list">
<div class="m20">
	<form method="post" action="" role="form">

			<eq name="tcfg.is_search" value="1">
			<div class="row">				
				<eq name="tcfg.is_search_sort" value="1">
					<div class="col-xs-4">
								<select id="sid" name="sid" class="form-control">
									<option value="">请选择一个分类</option>
									{:W('Widget/list2form',array(array(
										'option'	=>array(
														'table'	=>I('get.table').'_sort',
														'level'	=>3,
													),
										'value'		=>$_GET['sid'],
									)))}
								</select>			
					</div>
				</eq>
				<eq name="tcfg.is_search_field" value="1">
					<div class="col-xs-3">
						<notempty name="tcfg.search_field">
						<html:select options="tcfg['search_field']" id="field" name="field" style="form-control input-lg" />
						<else />					
								<select id="field" name="field" class="form-control">
									<option value="name">搜索字段</option>
									{:W('Widget/table_field_form',array(array(
										'table'		=>I('get.table'),
										'value'		=>$_GET['field'],
									)))}
								</select>
						</notempty>
					</div>
				</eq>
				<eq name="tcfg.is_q" value="1">
					<div class="col-xs-3">
						<input id="q" name="q" value="{$_GET.q}" class="form-control" placeholder="请输入搜索关键词" />
					</div>
				</eq>
				<div class="col-xs-2">
					<button type="submit" class="btn btn-rad btn-trans btn-primary"><i class="fa fa-search"></i> 搜索</button>
				</div>
				
			</div><!--/row-->		
			</eq>


	</form>
	
	<div class="clearfix md20"></div>

	<form id="sel_goods_form" name="sel_goods_form">
			{$body}
			<div class="clearfix"></div>
			<div class="hrow">
				<div class="hcol-5 text-center">
					{$pagelist.page.page}
				</div>
				<div class="hcol-1 text-center">
					<div class="page-total">共 {$pagelist.allnum} 条记录，共 {$pagelist.allpage} 页</div>
				</div>
			</div>

		<div class="clearfix h50px"></div>
		<input type="hidden" name="sellerid" value="{$_GET.sellerid}">
		<input type="hidden" name="sid" value="{$_GET.sid}">
		<input type="hidden" name="shop_id" value="{$_GET.shop_id}">
		<div class="navbar-fixed-bottom border-t">
			<div class="buttom-bar bg-white-50">

				<button type="submit" class="btn btn-primary btn-rad"><i class="fa fa-hand-o-up"></i> 选择商品，确定</button>
			</div>
		</div>

	</form><!--/form-->
</div>



<else />
<div class="m20">
	<div class="text-center nors">
		<div class="nors-tips md20">暂无记录！</div>
	</div>
</div>
</notempty>



<include file="Public:copyright" />
<include file="Public:js" />
<script>

iCheckClass();
checkform({
	formid:'#sel_goods_form',
	url:'__ROOT__/Xianshi/save_goods',
	script:'callback(ret)'
});

function callback(ret){
	valert({status:ret.status,msg:ret.msg});
	if(ret.status=='success'){
		ref();
	}
}
//根据折扣计算价格
function count_price(obj){
	//商品id
	var goods_id = $(obj).attr('gid');
	//商品原价
	var goods_price = $(obj).attr('gprice');
	//自己填写的折扣数值
	var num = $(obj).val();
	//折扣类别，0为打折，1为减价
	var discount_sort = $("#discount_sort"+goods_id).val();
	//折后价格
	var new_price = 0;
	if(num !== 0){
		if(discount_sort==0){
			//打折是数值0-10
			if(num<0 || num>10){
				$("#discount_sort"+goods_id).val(1);
				//减价
				new_price = Number(goods_price) - Number(num);
			}else{
				new_price =( Number(goods_price) * Number(num))/10;
			}
		}else{
			//减价的时候
			new_price = Number(goods_price) - Number(num);
		}
		//修改价格
		$("#price"+goods_id).html(new_price.toFixed(2));
		$("#xianshi_price"+goods_id).val(new_price.toFixed(2));
	}
}

</script>
<include file="Public:footer" />