	<div class="navbar-fixed-top">
		<div class="pull-right">
			<div class="btn btn-primary btn-rad btn-trans m10" onclick="ref()"><i class="fa fa-refresh"></i> 刷新</div>
		</div>

		<ul class="nav-box2" data-page="__SELF__">
			<li><a href="__URL__/index/status/1">等待审核</a></li>
			<li><a href="__URL__/index/status/2">被拒绝</a></li>
			<!-- <li><a href="__URL__/index/status/3">待寄合同</a></li>
			<li><a href="__URL__/index/status/4">未收到合同</a></li> -->
			<li><a href="__URL__/index/status/5">升级成功</a></li>
			<li><a href="__URL__/index/status/0">资料提交中</a></li>
			<li><a href="__SELF__">[title]</a></li>
		</ul>
	</div>
