<extend name="Home@Public:base" />
<block name="body">
<div class="centent_body">
	<include file="Public:nav" />
	<div class="container mb30">
		<include file="Public:side" />
		<div class="w980 fl">
			<div class="bor_der">
				<div class="bg_f1 clearfix fs14 text_44 tle_R">
					<a class="fl plr15 line40 ml-1 active" href="javascript:;">资质认证</a>
				</div>
				<include file="step" />
				
				<div class="pd10">
					<h3 style="margin-top:0;">资质认证</h3>
					<table class="table table-bordered table-advance table-hover" style="margin-bottom:20px">
						<tbody>
							<tr>
								<th class="col-xs-4 text-center">条件</th>
								<th class="col-xs-4 text-center">状态</th>
								<th class="col-xs-4 text-center">操作</th>
							</tr>
							<!-- <tr class="countTr">
								<td style="vertical-align: middle;" class="text-center">企业会员</td>
								<td style="vertical-align: middle;" class="text-center"><span class="text_green"><i class="fa fa-check-circle"></i></span>您已为企业会员 </td>
								<td style="vertical-align: middle;" class="text-center"><a class="text_blue" href="">查看</a></td>
							</tr> -->
							<tr class="countTr">
								<td style="vertical-align: middle;" class="text-center">实名认证</td>
								<td style="vertical-align: middle;" class="text-center">
									<eq name="data.auth" value="1">
									<span class="text_green"><i class="fa fa-check-circle"></i></span>您已通过实名认证
									<else />
									<span class="text_yellow"><i class="fa fa-times-circle"></i></span>您还未通过实名认证
									</eq>
								</td>
								<td style="vertical-align: middle;" class="text-center">
									<eq name="data.auth" value="1">
									<a target="_blank" class="text_blue" href="{:erp_url($cfg['erp']['domain']['u'].'/auth')}">查看</a>
									<else />
									<a target="_blank" data-title="认证" onclick="sessions($(this))" class="text_yellow sessions" href="{:erp_url($cfg['erp']['domain']['u'].'/auth')}">立即认证</a>
									</eq>
								</td>
							</tr>
							<tr class="countTr">
								<td style="vertical-align: middle;" class="text-center">创客会员</td>
								<td style="vertical-align: middle;" class="text-center">
									<egt name="data.level" value="3">
										<span class="text_green"><i class="fa fa-check-circle"></i></span>您已是创客会员
									<else />
										<span class="text_yellow"><i class="fa fa-times-circle"></i></span>您还不是创客会员
									</egt>
								</td>
								<td style="vertical-align: middle;" class="text-center">
									<egt name="data.level" value="3">
										<a target="_blank" class="text_blue" href="{:erp_url($cfg['erp']['domain']['u'].'/upgrade')}">查看</a>
									<else />
										<a target="_blank" data-title="升级" onclick="sessions($(this))" class="text_yellow" href="{:erp_url($cfg['erp']['domain']['u'].'/upgrade')}">立即升级</a>
									</egt>
									
								</td>
							</tr>
							<tr class="countTr">
								<td style="vertical-align: middle;" class="text-center">安全密码</td>
								<td style="vertical-align: middle;" class="text-center">
									<eq name="data.pay" value="1">
									<span class="text_green"><i class="fa fa-check-circle"></i></span>您已设置安全密码
									<else />
									<span class="text_yellow"><i class="fa fa-times-circle"></i></span>您已设置安全密码
									</eq>
								</td>
								<td style="vertical-align: middle;" class="text-center">
									<eq name="data.pay" value="1">
									<a target="_blank" class="text_blue" href="{:DM('my', '/change')}">查看</a>
									<else />
									<a target="_blank" class="text_yellow" href="{:DM('my', '/change')}">立即设置</a>
									</eq>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pd10 solid_t">
					<div class="form-group text-right" style=" margin-bottom:0;">
						<a class="btn btn-primary disabled btn-next" href="{:U('/opens/step2')}"><i class="fa fa-share"></i>下一步</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="css"></block>
<block name="script">
<script>
$(document).ready(function() {
	var authFailed	=	$("td span.text_yellow").size();
	if(authFailed == 0) {
		$(".btn-next").removeClass('disabled');
	}
});
function sessions(that) {
	var d	=	that.data();
	vmodal({
		msg:'<h4>'+d.title+'提示</h4><a href="/opens/step1?up=yes" class="btn btn-rad btn-trans btn-primary">'+d.title+'成功</a> <div class="btn btn-rad btn-trans btn-default" data-dismiss="modal">'+d.title+'失败</div>',
		class:'text-center',
		width:'600px',
		footer:false,
	});
}
</script>
</block>