<extend name="Home@Public:base" />
<block name="body">
    <div class="re bg-white pd20">
        <div>
            <div class="container">

                <div class="content text-center pd30">
                    <i class="fa fa-lock" style="font-size: 80px;color: #F0F0F0;"></i>
                </div>

                <div class="content text-center pd30 pt0 fs20" STYLE="color: #D0D0D0;">
                    您没有权限进行访问或操作！<a class="text_blue" href="javascript:;" onclick="window.history.back();">返回到上个页面</a>
                </div>

            </div>
        </div>
        <style type="text/css">
            .for{margin-top:-40px; padding:10px;}
            .for .col-xs-7 img{max-width: 100%;padding:150px 50px;}
            .for .col-xs-5{margin-top:200px;}
            .for .link-blue a:hover{color:#cc0000;}
            .for .col-xs-5 span{margin:0 5px;}
        </style>
    </div>
</block>