	<div class="navbar-fixed-top">
		<div class="pull-right">
			<div class="btn btn-primary btn-rad btn-trans m10" onclick="ref()"><i class="fa fa-refresh"></i> 刷新</div>
		</div>
		
		<ul class="nav-box2" data-page="__SELF__">
			<li><a href="__URL__">所有话费流量订单</a></li>
			<li><a href="__URL__/index/status/1">待付款订单</a></li>
			<li><a href="__URL__/index/status/2">已付款订单</a></li>
			<li><a href="__URL__/index/status/3">已发货订单</a></li>
			<li><a href="__URL__/index/status/4">已收货订单</a></li>
			<li class="hide"><a href="__URL__/index/status/5">已评价订单</a></li>
			<li class="hide"><a href="__URL__/index/status/6">已归档订单</a></li>
			<li><a href="__URL__/index/status/10">已关闭订单</a></li>
			<li><a href="__URL__/index/status/11">已退款订单</a></li>
			<li><a href="__SELF__">[title]</a></li>
		</ul>
	</div>