<include file="Public:header" />
<include file="nav" />
<div class="m20 block-flat">
	<form method="get" action="__URL__/" role="form" class="hover-shadow hover-search p10 md10">
		
	</form>
	<div class="clearfix"></div>
	<div>
		<div class="flex flex-fdr p10" style="border-top:3px solid rgb(153,153,153);border-bottom:3px solid rgb(153,153,153);">
			<div class="flex flex-aic" style="width:100px;">
				<div class="flex-f1">热门排名</div>
			</div>
			<div class="flex-f1">店铺名称</div>
			<div class="flex-f1">成交单数</div>
			<div class="flex-f1">售出商品数</div>
			<div class="flex-f1">成交金额</div>
		</div>
		<foreach name="list" item="vo">
			<div class="flex flex-fdr border-b" style="padding:20px 10px 20px 10px">
				<div class="flex flex-aic pl10" style="width:100px;">
					<div class="flex-f1">{$key+1}</div>
				</div>
				<div class="flex-f1 pr10">
					<div>{$vo.shop_name}</div>
				</div>
				<div class="flex-f1 flex flex-aic">
					<div class="flex-f1">{$vo.total_orders_pay_num}</div>
				</div>
				<div class="flex-f1 flex flex-aic">
					<div class="flex-f1">{$vo.total_goods_sale_num}</div>
				</div>
				<div class="flex-f1 flex flex-aic">
					<div class="flex-f1">{$vo.total_money_pay}</div>
				</div>
			</div>
		</foreach>
	</div>
</div>


<include file="Public:copyright" />
<include file="Public:js" />
<script>
$(document).ready(function(){
	$('.delete-select').click(function(){
		if($('input[type="checkbox"]:checked').size()==0){
			valert({status:'warning',msg:'请至少选择一项！'})
			return false;
		}else {
			confirm_form({
				formid:'#formlist',
				furl:'__URL__/delete_select',
				script:'callback(ret)',
				title:'删除记录',
				msg:'真的要删除吗？',
				class:'text-center',
				confirm:1
			});
		}
	});

	$('.active-change').click(function(){
		if($('input[type="checkbox"]:checked').size()==0){
			valert({status:'warning',msg:'请至少选择一项！'})
			return false;
		}else {
			confirm_form({
				formid:'#formlist',
				furl:'__URL__/active_change_select/toactive/'+$('#toactive').val(),
				script:'activeCall(ret)',
				title:'批量更改记录状态',
				msg:'真的要改记录状态吗？',
				class:'text-center',
				confirm:1
			});
		}
	});
	
	$('.sid-change').click(function(){
		if($('input[type="checkbox"]:checked').size()==0){
			valert({status:'warning',msg:'请至少选择一项！'})
			return false;
		}else if($('#tosid').val()==''){
			valert({status:'warning',msg:'请选择一个分类'})
			return false;			
		}else {
			confirm_form({
				formid:'#formlist',
				furl:'__URL__/sid_change_select/tosid/'+$('#tosid').val(),
				script:'activeCall(ret)',
				title:'批量记录归类',
				msg:'真的要批量记录归类吗？',
				class:'text-center',
				confirm:1
			});
		}
	});	
	
	$('#gopage').change(function(){
		var url=$('#gopage').val();
		location.href=url;
	});
	$('.go-page').click(function(){
		var url=$('#gopage').val();
		location.href=url;
	});	
	

});

function callback(ret){
	valert({status:ret.status,msg:ret.msg});
	if(ret.status=='success'){
		$('input[type="checkbox"]:checked').each(function(){
			$('#'+$(this).val()).remove();
		});
		$('#ajax-modal').modal('hide');
	}
}

function delCall(ret,tag){
	valert({status:ret.status,msg:ret.msg});
	if(ret.status=='success'){
		$(tag).remove();
		$('#ajax-modal').modal('hide');
	}
}
function activeCall(ret){
	valert({status:ret.status,msg:ret.msg});
	if(ret.status=='success'){
		setTimeout(function(){
			ref();
		},500);
	}
}
</script>
<include file="Public:footer" />